[2019-11-07 22:29] jlmaurer opened #2 "Add documentation and code to convert ARIA-tools output to los file expected by RAiDER"

[2019-11-07 22:32] jlmaurer opened #3 "Documentation for adding new weather models"

[2019-11-07 22:35] jlmaurer opened #4 "Need to add option to read a file containing a list of dates"

[2019-11-07 22:45] jlmaurer opened #5 "Create specified folders if they do not exist prior"
Right now if you specify an output folder or weather file location and it does not exist, the code errors out. Should update this to create if does not exist, because it downloads the new file anyway.

[2019-11-07 22:48] jlmaurer opened #6 "Add codes for creating interferometric delays to RAiDER"

[2019-11-07 22:53] jlmaurer opened #7 "Verify constant values for the different weather models"

[2019-11-07 23:10] jlmaurer opened #8 "Add a checkArgs equivalent for calling RaiDER from ipython"

[2019-11-08 22:26] jlmaurer opened #9 "Implement unit tests that don't require keeping data around"

[2020-02-18 17:16] dbekaert opened #11 "STATS: verify variogram sill"
The sill value looks off, need to verify what is happening.
![Screen Shot 2020-02-18 at 9 15 26 AM](https://user-images.githubusercontent.com/19240905/74760492-54ed4d80-522f-11ea-847d-023f035cc517.png)

[2020-03-25 00:26] #2 closed

[2020-03-30 19:28] jlmaurer opened #13 "Should cython be a required dependency for RAiDER?"
As opposed to just writing some nice .cpp files and including those. Maybe it makes it easier, or not?

[2020-03-30 19:30] jlmaurer opened #14 "Geo2rdr returns nan line-of-sight when provided a state vector"
Example RAiDER command:
raiderDelay.py --date 20200103 --time 23:00:00 -s state.txt -modelbb 40 -79 36 75 --model ERA5 --zref 15000 -v

where state.txt is a text file containing a single line:

20200103 311674.487622 2469192.551542 -6630254.862875 2388.91490 -6765.188049 -2408.216845

(i.e., date x y z vx vy vz)

The code of interest is in losreader.py, in the function state_to_los. **Note**: #15

[2020-03-30 19:50] piyushrpt commented on #14
Don't we need at least 4 state vectors to interpolate the orbit? This should be enforced when translating the state vectors to an orbit. Looks like this example uses a single state vector?

[2020-03-30 19:56] jlmaurer commented on #14
Ah so maybe that is the issue then; the code itself isn't clear. Is it required to have the state vector at the same times as the acquisitions?

[2020-03-30 20:00] piyushrpt commented on #14
Yeah following checks would be useful:

That time stamp falls within limits of state vector
https://github.com/isce-framework/isce2/blob/f95a912462e4aa89cedd2af047cad52ae3ec4646/components/isceobj/Orbit/Orbit.py#L379

If using hermite atleast 4 vectors are available. If using legendre, atleast 9.
https://github.com/isce-framework/isce2/blob/f95a912462e4aa89cedd2af047cad52ae3ec4646/components/isceo

[2020-03-30 20:04] jlmaurer commented on #14
Perfect, I'll implement those changes and see if that will fix the issue. Thanks!

[2020-03-30 20:06] dbekaert commented on #14
@piyushrpt is correct, the state vector is a set of xyz,vxyz in time. These get interpolated to the time of acquisition.

[2020-03-30 20:07] dbekaert commented on #13
even if they are c-code programs, would you not use cython wrappers to call them as python functionality?

[2020-03-30 20:25] piyushrpt commented on #13
Yeah - we would need either cython / pybind11 to make python talk to C++. Numpy now uses cython to build part of itself - so we should be getting cython functionality at no cost.

[2020-04-10 21:42] jlmaurer commented on #14
Closing this issue as is fixed in PR#16

[2020-04-10 21:42] #14 closed

[2020-04-10 21:53] dbekaert opened #18 "update intall notes and add coday"
- update the dependencies in the README
- add codacy for code review

[2020-04-10 21:59] jlmaurer opened #19 "When calling geo2rdr, line-of-sight vectors returned have larger y-values than z-values, possible reference frame issue?"
See https://github.com/dbekaert/RAiDER/blob/1bef6a5f1eaf41d87195ffc6eb891f21d57f4621/tools/RAiDER/losreader.py#L83

--> example lat/lon/z:  38.6/-79.4/-100 on UTC20200103T23:00:00

results in: (los_x, los_y, los_z):
(array([[0.24365994]]), array([[0.96936308]]), array([[0.03106531]]))

@piyushrpt could this be an issue with reference frame? Orbits are fixed earth, but line-of-sight reference frame

[2020-04-10 22:10] dbekaert commented on #19
@jlmaurer what is the z-value here? Z geoid, Z geometric, Z? and what are the units?

[2020-04-10 22:11] jlmaurer commented on #19
@dbekaert Z is geometric z in units of meters

[2020-04-10 22:18] dbekaert commented on #5
@jlmaurer ISCE developers use this, which is easier than the if conditional statements:
[code]

[2020-04-10 23:19] dbekaert commented on #19
@jlmaurer I looked back to some of the earlier commits from Heresh. You can find them here:
https://github.com/dbekaert/RAiDER/commits?author=hfattahi

Based on earlier commits from Heresh, i see he had a test included for the geo2rdr code: https://github.com/dbekaert/RAiDER/commit/40e8b5dda3573aa558f34389dd36993a77b1eb7f

Some observations from this test:
1. Radians are required!
2. the step-size

[2020-04-10 23:42] dbekaert opened #20 "Put the jupyter documentation in a seperate Repo"
- update repo README or raider repo
- put docs in seperate repo
- add documentation to docs repo

[2020-04-10 23:43] dbekaert commented on #18
Done

[2020-04-10 23:43] #18 closed

[2020-04-10 23:54] dbekaert commented on #13
Requirements in README reflect to keep cython and numpy.
Per discussion keeping cython and closing this issues.

[2020-04-10 23:54] #13 closed

[2020-04-10 23:56] dbekaert commented on #9
- work with circle ci to test building of the repo and running of unit test for each PR.

[2020-04-11 00:16] dbekaert commented on #20
completed

[2020-04-11 00:16] #20 closed

[2020-04-13 16:48] jlmaurer commented on #5
PR#21 fixes this issue.

[2020-04-13 16:48] #5 closed

[2020-04-13 17:07] piyushrpt opened #22 "Modify pyproj calls for consistency"
pyproj has started respecting the order of axes for different CRS. EPSG:4326 is lat/lon now and not lon/lat like it was before.

To keep traditional behavior, add
[code]
to all calls of pyproj.transform. This might also be  causing issues that you recently encountered.

[2020-04-13 21:20] jlmaurer commented on #19
@dbekaert can you send me this file:
/u/k-data/fattahi/Kurdistan/174/master/IW1.xml
so I can run the Geo2rdr test?

[2020-04-13 22:32] dbekaert opened #23 "unittest guidance and clean-up"

[2020-04-13 22:42] dbekaert opened #24 "Circle-CI set-up"
1.	Getting started: https://circleci.com/docs/2.0/getting-started/
2.	Starting from basics:
a.	https://circleci.com/docs/2.0/first-steps/
b.	https://circleci.com/docs/2.0/hello-world/
3.	Getting started with real projects
a.	Pick a good docker image – ubuntu:bionic (18.04)
b.	Bake anaconda into it and install requirements (https://stackoverflow.com/questions/58243255/circleci-testing-with-specific

[2020-04-13 22:45] dbekaert commented on #23
@jlmaurer Could you provide some guidance on how to call the unit-tests and perhaps clean existing tests up for integration into CircleCI?

[2020-04-13 22:46] dbekaert commented on #19
send them your way

[2020-04-14 00:12] dbekaert commented on #24
@leiyangleon tracking here for circle-CI

[2020-04-14 01:34] dbekaert commented on #23
@piyushrpt could you provide us with some guidance to the implementation of unit tests?
Should be try and break it down to small building blocks rather than lets say a dummy calculation?

[2020-04-14 01:41] dbekaert commented on #23
GDAL has data for its unit-tests, we could do something similar.

[2020-04-14 01:53] dbekaert commented on #19
close via #25

[2020-04-14 01:53] #19 closed

[2020-04-14 01:54] dbekaert commented on #9
lets track this under #23

[2020-04-14 01:54] #9 closed

[2020-04-14 01:55] dbekaert commented on #22
Thanks for pointing this out @piyushrpt. closed through #25

[2020-04-14 01:55] #22 closed

[2020-04-17 13:48] dbekaert opened #26 "Updates to raiderDelay.py argparse"
##Update for user-friendliness needed in argparse:

1. Provide example for each input. E.g. ISO 8601 format not clear to all users. (e.g. multiple variants for parsing day and time exist online, clarify with e.g. YYYMMDD)
2. Specify to which reference the DEM and reference the height levels are. i.e. ellipsoid, geoid and  corrected for ellipsoid etc
3. The options used to be a bit more nested. i.e

[2020-04-17 14:04] dbekaert opened #27 "working Zenith, model node, DEM example"
# Scenario:
Example: Running ERA5 at weather model nodes at DEM height over BBoX

Code used:
[code]

# Errors to be fixed:
1. re-run of hgt verus dem enabled
**Error:**  not very clear for a user to know what the issue is, and its caused by a user driver error:
**Solution:** By removing the "geom" folder the issue got removed.
<details>

[code]
</details>

2. undefined getIntFcn2 function
**Error:

[2020-04-17 14:12] dbekaert opened #28 "working zenith, model nodes, fixed height level example"
# Scenario:
Example: Running ERA5 at weather model nodes at fixed height over BBoX

Code used:
[code]

# Errors to be fixed:
1. re-run of hgt verus dem enabled
**not an error:**  the code runs though and uses DEM if it was pre-existing. Does not use fixed height level.
**Solution:** By removing the "geom" folder the issue got removed.
see also #27. It mght be good to track what is in the geom fold

[2020-04-17 23:52] dbekaert commented on #26
PR is incorporated.

Syntax does not yet fully capture the options correctly:

Its LOS or SV; and if not specific it will be zenith.
Is there a way to cluster these inputs togehter to show they are nested?
Ray has them more nested before and did not list them all as individual options.

- no need to mix DEM with lon lat information or weatehr model grid nodes

- area or bbox. Which takes precedent

[2020-04-17 23:56] dbekaert commented on #27
@jlmaurer merged but getting error:

<details>

[code]
</details>

[2020-04-17 23:59] dbekaert commented on #27
@jlmaurer perged and same error as in #28

[2020-04-18 02:38] dbekaert commented on #24
@leiyangleon merged the PR. You might need to update the circle CI to point to this repository. I think currently will be pointing to yours.

[2020-04-19 00:10] sssangha commented on #26
@dbekaert to add to this, I would suggest to make the "outformat" and "model" input arguments not case-sensitive. E.g. the code should be able to handle cases where the user specifies "ERA5" or "era5".

Also, maybe adding a synopsis of each major function's operation (as we do in ARIA-tools) would be a good idea.

[2020-04-20 20:43] leiyangleon commented on #24
@dbekaert I have tested the two commands in CircleCI and found the following two error messages. Could you please take a look?

`Starting to run the weather model calculation`
`Time type: <class 'datetime.datetime'>`
`Time: 20200103`
`Flag type is bounding_box`
`DEM/height type is "download"`
`Beginning weather model pre-processing`
`Download-only is False`
`Storing weather model at: weather_files

[2020-04-20 20:47] jlmaurer commented on #24
This issue occurs because a named user with credentials is required to download from the CDS API. @dbekaert Perhaps we should create a dummy user and use that for testing credentials? Or we keep a file on hand for testing purposes?

[2020-04-20 20:50] dbekaert commented on #24
@leiyangleon see the first few lines under: https://github.com/dbekaert/RAiDER-docs
To download data you need to have a user-account.
For the testing suite we likely also need to get the downlaod API working and linked to a user account to download data.
Perhaps we should make a dummy download account for the weather models specifically for raider testing. In that way we avoid using personal accou

[2020-04-20 20:50] dbekaert commented on #24
agreed.

[2020-04-21 19:42] leiyangleon commented on #24
@dbekaert @jlmaurer _**After creating a dummy user account, the two commands successfully ran through the end. Please see below the screen output.**_

Starting to run the weather model calculation
Time type: <class 'datetime.datetime'>
Time: 20200103
Flag type is bounding_box
DEM/height type is "download"
Beginning weather model pre-processing
Download-only is False
Storing weather model at: weath

[2020-04-27 03:44] jlmaurer opened #32 "Change main delay calculation from simple for-loop to parallel for-loop"
Code is tools/RAiDER/delayFcns.py:
https://github.com/dbekaert/RAiDER/blob/8b397b153505b47ba98b3655fc92a33be40c9e1c/tools/RAiDER/delayFcns.py#L123

The code is chunked but it processes each chunk serially. A potentially major speed-up would be to add a parallel implementation here. Only reads are required; no data is written, but I'm not sure what happens if you try to open an HDF5 file in read-on

[2020-04-28 22:43] #28 closed

[2020-04-28 22:43] #27 closed

[2020-04-28 22:46] #24 closed

[2020-04-28 22:47] dbekaert commented on #23
We have a draft implementation and pathway forward thanks to @leiyangleon PR #24

[2020-04-28 22:47] #23 closed

[2020-04-28 22:48] dbekaert commented on #26
@jlmaurer you mentioned to found a solution?

[2020-04-29 21:40] #26 closed

[2020-04-30 02:17] jlmaurer opened #35 "Add the MERRA2 model support"

[2020-04-30 02:18] jlmaurer opened #36 "Add GMAO model support"

[2020-04-30 02:29] jlmaurer opened #37 "Fixing Zentith delay for all variants (point, grid, cube)"

[2020-04-30 02:37] jlmaurer opened #38 "Lost Zenith calculation at input lat/lon nodes"
Lost this somewhere with the new raytracing modularity

[2020-04-30 05:28] piyushrpt commented on #35
Here is some code from pyaps - might help get started. nc4 might be most relevant.
http://earthdef.caltech.edu/projects/pyaps/repository/entry/merra.py

[2020-04-30 20:25] dbekaert commented on #35
An example of an actual download is [here](http://earthdef.caltech.edu/projects/pyaps/repository/entry/autoget.py), although looking to leverage **OpenDAP** for retrieval of the specific layers and some slice&dice operations, not a complete file download.

We made an initial test with OpenDAP but were in contact with GSFC to resolve some issue.  The idea is to contruct a URL which has all the subs

[2020-04-30 20:27] dbekaert commented on #35
Also there is a lot of similarity between MERRA-2 and the GMAO models, both leverage OpenDAP and also have same filename, format and layers. So we should be able to re-use it.

That say we are working closely with GMAO team, so we could try to get that to work with openDAP first, as now we have their support in case of questions.

[2020-04-30 20:36] dbekaert commented on #36
see item #35 as there is a lot of similarity between what is needed for MERRA-2.
e.g. likely leverage same OpenDAP mechanism (different base URL) and same loading mechanism (netcdf4) for the variables. In terms of the model levels see below PDF for information

Relevant URLs:
- background information: https://gmao.gsfc.nasa.gov/GMAO_products/documents/GEOS_5_FP_File_Specification_ON4v1_2.pdf
- web

[2020-04-30 20:44] dbekaert commented on #3
@jlmaurer Can we capture in a Juypter Notebook the changes that needs to be made to add in a new weather model?

1) data download?
2) the model class?
3) where in the code do users need to make changes?
- e.g. argparse, some checks in the code.

Suggest to do this while we add in ERA5T, MERRA-2, GMAO etc.
Note that notebooks are to be stored into the RAiDER-docs folder.

[2020-04-30 20:49] dbekaert opened #39 "Add ERA5T model to RAiDER"
Adding this here to track it as part of the millstone.
Has been added already, but should be verified.

[2020-04-30 20:53] dbekaert commented on #8
closing this to keep focus

[2020-04-30 20:53] #8 closed

[2020-05-08 20:23] jlmaurer opened #41 "Check datatypes whether float64 is required"

[2020-06-07 14:20] dbekaert commented on #41
This was closed out by @leiyangleon. Same results for float32 as for float64

[2020-06-07 14:20] #41 closed

[2020-06-07 14:22] dbekaert opened #43 "Multiprocessing and Python 3.8 #"
@leiyangleon saw this here on ISCE forum. Not sure if its relevant but post it here. https://github.com/isce-framework/isce2/issues/146#issue-632619624

[2020-06-08 23:09] leiyangleon commented on #43
I think the spawning method (default for macOS) is sufficient for our applications, where child processes only inherit necessary resources from the parent process. For the forking method that is required by dense ampcor and etc. in ISCE, the child processes will inherit everything from the parent process, thus identical to the parent one. The forking method also causes safety issues. So I think we

[2020-06-09 02:09] jlmaurer commented on #43
I agree, this should not be an issue for us because when developing the code I never assume that the parent data is passed to the child process, which is what forking assumes. I.e., spawning a new process results in a child that doesn't remember its parents' possessions (see [this](https://rhodesmill.org/brandon/2010/python-multiprocessing-linux-windows/) older article and also the [documentation

[2020-06-13 20:20] jlmaurer opened #44 "STATS: GNSS archive support"
The stats class can be seen as a pre- and post-processor for RAiDER.
Below are a few items that we plan to incorporate in the RAiDER stats class (not within Raider code-base itself) to interact with  GNSS archives.

# Archives:
1) UNR Geodetic Laboratory

2) JPL Measures

# Functionality:
Ability to talk to the above GNSS provider to get station information for a given period in time that have zen

[2020-06-13 21:17] #43 closed

[2020-06-13 21:19] dbekaert commented on #38
@jlmaurer this has been addressed, no?

[2020-06-13 21:38] jlmaurer commented on #38
Yes, this was fixed in #40 .

[2020-06-13 21:39] #38 closed

[2020-06-13 22:02] dbekaert commented on #6
lets capture nice to have seperately.

[2020-06-13 22:02] #6 closed

[2020-06-13 22:02] dbekaert commented on #4
Lets capture nice to have seperately

[2020-06-13 22:02] #4 closed

[2020-06-15 20:03] jlmaurer opened #46 "raiderStats help menu needs cleaned up"
The help message is currently a bit cluttered and should be grouped into "plot types," "input options," etc.

# Current functionality:

<details>

[code]
</details>

# Wanted functionality:
Adopt a similar approach as done for the raiderDelay.py

[code]

[2020-06-16 14:05] dbekaert commented on #11
@sssangha lets go through this together, could be a unit or a scaling issues

[2020-06-16 14:09] dbekaert commented on #39
A version was merged into RAiDER under  #34.

@jlmaurer Can you update the status of this ticket.
- Still in need for some work to be done?
- Was the syntax of the code updated on how one can leverage this model?

[2020-06-16 14:20] dbekaert opened #47 "Logging"
Logging support to prepare the code to be ready for production like environments.
We could adopt a similar strategy as used in ISCE2 or ISCE3, the latter being production code for NISAR.

# Internal Python logging (ISCE2) option
ISCE2 uses python’s built-in logging module, set up using the ISCE2-specific configuration file at defaults/logging/logging.conf. https://github.com/isce-framework/isce2

[2020-06-16 14:25] dbekaert commented on #47
@rtburns-jpl @hfattahi Let me know in case you have other suggestions.

@rtburns-jpl I also understand that Pyre would be good for handling GPU implementation as it has capabilities to talk and distribute across various GPU devices?

[2020-06-16 16:14] dbekaert opened #48 "Formatting for GNSS option within RAiDER"
This issue ticket concerns about the best way of storing and formatting the RAiDER output when levering the station list option over a period of time and specific time sampling. (The NISAR workign group will be leveraging GNSS for validation purposes of the troposphere zenith delays.)

# How it fits together with other issue tickets:
- Raider is to be called using GPS location information (lon, la

[2020-06-16 16:49] dbekaert opened #49 "STATS: Jupyter examples"
Looking for the following notebooks (under RAiDER-docs github repo):

# Example 1 (Priority)
Get GPS information and visualize station distribution for fixed period of time
this is inline with #11

# Example 2
- Get GPS information and visualize delays for a fixed period in time, calculate basic statistics
- Use the GPS station information to trigger RAiDER and compute delays
- use the RaiDER and

[2020-06-17 00:57] jlmaurer commented on #32
PR #45 addresses this issue.

[2020-06-17 01:00] jlmaurer commented on #37
*Update*: Minimal working code should be able to compute zenith delays for the following inputs:
- lat/lon file specified
- station list specified
- bounding box specified
- each of the above options with fixed height levels specified

[2020-06-17 01:26] jlmaurer opened #50 "[BUG] STATS: Shapely required for raiderStats but not in environment.yml"
**Describe the bug**
shapely needs to be added to conda environment file requirements

**To Reproduce**
Steps to reproduce the behavior:
1. create a clean conda environment using the environment.yml file
2. raiderStats.py -h
3. Traceback (most recent call last):
  File "/Users/jlmd9g/software/miniconda3/envs/RAiDER/bin/raiderStats.py", line 10, in <module>
    from RAiDER.statsPlot import parseCMD

[2020-06-17 01:27] #32 closed

[2020-06-17 02:59] jlmaurer opened #51 "Document Adding New Weather Model"
We need to create documentation for how to add new weather models to RAiDER. The following is a start that should be included into a notebook and/or a template file.

## Data model
- Data are encapsulated as a WeatherModel object with a uniform x/y/z grid with lat, lon, temperature, pressure, and humidity specified as 3D cubes at the weather model nodes
- The data cubes are structured such that x

[2020-06-17 13:46] #3 closed

[2020-06-17 21:54] rtburns-jpl commented on #47
This is a really nice writeup of isce's logging facilities! I might even want to steal some snippets of this for our developer documentation, if that's all right with you 👀

It looks like you have a pretty good understanding of these, but if you have any specific questions, I'm happy to chip in with my experience/recommendations. As far as I'm aware, we're not touching the GPU parts of pyre, so I

[2020-06-18 01:44] aivazis commented on #47
Ryan,

The journal writeup was from me. Steal away.

-- Michael

[2020-06-18 20:21] dbekaert commented on #44
@jlmaurer could you provide some snippets here for @sssangha wrt data-download of UNR.
e.g. Perhaps some of the past code and the jupyter notebook you shared?

[2020-06-18 20:59] dbekaert commented on #50
Addressed in #52

[2020-06-18 20:59] #50 closed

[2020-06-18 21:05] dbekaert opened #53 "Towards GPU support"
This issue ticket is meant to capture notes towards supporting GPU. Feel free to capture thoughts/considerations.

# Basics:
@rtburns-jpl pointed to this NVIDIA blogpost on a raytracing tutorial to CUDA: https://devblogs.nvidia.com/accelerated-ray-tracing-cuda/

# GPU device handling
Pyre is being considered for logging but also has many other features. @aivazis any insight for Pyre for handling G

[2020-06-19 00:34] sssangha commented on #44
To add some more specifics for Example 1: Inputs: Valid UTC time that coincides with whole 5 minute interval (e.g. 16:00 as 1600, 16:05 as 1605). Later would need to implement dummy-proof to round inputs that aren't whole 5 minutes intervals (e.g. 1604 to 1605, 1602 to 1600).

I propose we parse GPS information virtually with vsicurl and build up record in netcdf format. @jlmaurer, to follow-up wi

[2020-06-19 01:11] sssangha opened #54 "STATS: Simplify code structure and optimize as standalone function [enhancement]"
# Purpose
Have STATS as a standalone, independent suite of codes that can be called separately from main RAIDAR code.

# Proposed plan of action
Will consider ways to segregate certain functions of the code into separate scripts to simplify structure and avoid having everything in a single script. Open to suggestions on how to segregate functionality (e.g. plotting in one script, variogram generat

[2020-06-19 02:26] dbekaert commented on #44
wrt buiding up a netcdf file (TBD), adding more information on CF compliance to ticket #48.

[2020-06-19 02:32] dbekaert commented on #48
@leiyangleon  netcdf was being suggested in ticket #44 by @sssangha.

Few thoughts:
- Perhaps work out first a dummy template how this would look like in terms of the structure of the files. I would recommend to ensure it to be CF compliant. Look over here for details: http://cfconventions.org/Data/cf-conventions/cf-conventions-1.7/cf-conventions.html#time-series-data
- Not sure if this time-serie

[2020-06-19 13:50] dbekaert commented on #48
@leiyangleon @sssangha Response from the GDAL dev community pointed us also in this direction:
- The temporal framework in GRASS GIS (where you would leverage GDAL/OGR for import):
https://grasswiki.osgeo.org/wiki/Temporal_data_processing
 -  TimescaleDB for mostly for vector data (building upon PostgreSQL and PostGIS):
https://www.timescale.com/

[2020-06-19 14:59] jlmaurer commented on #51
@leiyangleon there is a start to a jupyter notebook documentation related to this issue on the RAiDER-docs repo [here](https://github.com/dbekaert/RAiDER-docs/blob/master/notebooks/introToRAiDER.ipynb).

[2020-06-19 15:09] jlmaurer commented on #44
Hey @dbekaert and @sssangha , yes I think vsicurl + vsizip would be a great way to do this. Unfortunately I seem to have lost my notebook, but I have two scripts thatcan serve as a starting point. They come with no guarantees but they are a start. downloadGNSSdelays.py can check or download delays from UNR (although it's not completely working at the moment) and getStationDelays.py shows what I ha

[2020-06-19 15:15] jlmaurer commented on #49
@sssangha in reference also to #44 the [tropo branch of my RAiDER fork](https://github.com/jlmaurer/RAiDER-1/tree/tropo) can check whether files exist for a given year and produces a .csv file with a list of years and station names and data availability. You could use this as a start to address this issue.

[2020-06-23 20:14] Askaholic commented on #47
So from what I can tell, `pyre` logging is basically the same as the python `logging` module, with the addition of being able to access the loggers (in `pyre` called channels) from C++ code. If we're using Cython though, AFAIK this is just as easy using the python `logging` module, so I personally would lean towards `logging` unless we are going to use some other functionality from `pyre` as well.

[2020-06-23 22:56] leiyangleon commented on #35
@dbekaert could you ask the MERRA-2 team for the updated url? Jeremy and I both encountered the 302 found error, saying the "the document has moved", when using the OpenDAP to retrieve the data.

[2020-06-23 23:49] leiyangleon commented on #36
@dbekaert Using the preferred model level [URL](https://opendap.nccs.nasa.gov/dods/GEOS-5/fp/0.25_deg/assim/inst3_3d_asm_Nv
), I am able to get the dataset returned but not able to retrieve the specific data values. The line I used is
`ds['t'].array[10:14,10:14,10:14,10:14].data`
But the error says **_IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or

[2020-06-24 02:12] dbekaert commented on #36
@leiyangleon the model sampling is indeed every 3 hours. The 7.5hr latency means a user cannot request any data within 7.5 hour from real-time as it does not yet exist. We should capture that an error out to the user for such requests.

Can you provide more information on what you are doing in terms of getting the data using OpenDAP, for recreation purposes? I assume you might already slicing thro

[2020-06-24 02:18] dbekaert commented on #47
Added advantage would be that `pyre` is being used for NISAR ISCE3 code, so would be aligned with the SDS.
Does it add a significant dependency to have it for logging?

@rtburns-jpl open for recommendations, are there other considerations  we are missing?
Also, do i understand your earlier comment that ISCE3 might have GPU components but is not leveraging `pyre` like capabilities for scheduling/ta

[2020-06-24 16:39] rtburns-jpl commented on #47
Right now there's some pretty significant overhead having pyre as a dependency due to having to build it from source, but I think we could work with @aivazis to add binaries to conda/pypi. That's the tradeoff as I view it right now - pyre is more powerful but there's going to be some extra installation work vs. using a builtin module.

[2020-06-24 19:36] dbekaert commented on #35
@leiyangleon might just be a typo in the documentation. See the parent folder of the URL: https://goldsmr5.gesdisc.eosdis.nasa.gov/opendap/MERRA2/M2I6NPANA.5.12.4/1980/01/

Also, the URL changes depending on the year its being accessed; so one would need to construct it based on the user request. See the above link that @piyushrpt provided or look within the code of TRAIN to get an idea on URLS.

[2020-06-24 19:49] leiyangleon commented on #36
@dbekaert Thanks for the clarification on the latency vs temporal resolution.

Below are the lines I used to call OpenDAP for GMAO model:

[code]

No matter whether I ask for the whole array or a sliced version, it cannot retrieve the specific values. For example, if I use `A=ds['t'].array.data` and then retrieve the values using `A[10,10,10,10]`, the same error popped up.

[2020-06-24 20:19] leiyangleon commented on #35
@dbekaert the above URL link is the same as the one @jlmaurer and I tried. It won't work. I also looked at the URLs that you and Piyush mentioned above and it is indeed as you mentioned year-month-date-hr dependent. So I need to get the right format of these. Well I am guessing for example, year=1980, month=01, date=19800101 and hr=00. However, it would be really helpful to have a documentation or

[2020-06-24 20:37] jlmaurer commented on #35
Hey @leiyangleon I just went to the URL and copied this link an example file:
https://goldsmr5.gesdisc.eosdis.nasa.gov/opendap/MERRA2/M2I6NPANA.5.12.4/1980/01/MERRA2_100.inst6_3d_ana_Np.19800101.nc4.html. Perhaps let's try to experiment with pydap to get this to work. maybe a permission issue with opendap or something.

[2020-06-24 20:44] dbekaert commented on #35
We reversed engineered the link to know what it its.
See here for TRAIN and merra-2: https://github.com/dbekaert/TRAIN/blob/6c93feb95ae95eaf4c8468e89ec0b8325eac946f/matlab/aps_merra_files.m#L149

The baseurl can change depending on the year. See the Pyaps or TRAIN code for it.
Then YYYY/MM/MERRA2_100.inst6_3d_ana_Np.YYYYMMDD.nc4

[2020-06-24 20:55] jlmaurer commented on #36
@leiyangleon you may need to have the right extension? I.e. https://opendap.nccs.nasa.gov/dods/GEOS-5/fp/0.25_deg/assim/inst3_3d_asm_Nv.das --> note the .das extension.

[2020-06-24 21:32] jlmaurer opened #55 "DEM download takes a long time"
The DEM download can take the longest to run of the whole code.

## Starting line in RAiDER/tools/RAiDER/demdownload.py:
https://github.com/dbekaert/RAiDER/blob/4c66748ac2ef242eef33e18b2bb094dc0ef80c25/tools/RAiDER/demdownload.py#L59

## Description
DEM download takes a long time. Not sure why this is happening; but could be that passing boundaries as a warp option is not as fast as cropping a VRT

[2020-06-24 21:37] dbekaert commented on #35
@leiyangleon looked a bit in more detail on the internet.
The MERRA-2 data is also on GES DISC so its behind Earthdata log-in.

1. This means that there needs to be a .netrc file with Earthdata credentials.
2. In addition the users needs to add the following application to their earthdata profile: `GES DISC`

I tried it now:

[code]

Can you add documentation to the RAIDER README.md as well?
Perha

[2020-06-24 21:59] dbekaert commented on #35
@jlmaurer: When a user submits a call and asks for a region of interest, do you automatically expand the model bbox with extra nodes prior to calling the download code or does @leiyangleon need to account for that himself?

@leiyangleon the example provided above does not slice and dice yet. Next step would be to slice and dice based on the bbox, the utc time etc using opendap; and then just load

[2020-06-24 22:00] dbekaert commented on #55
@sssangha can you provide some insight from ARIA-tools experience?
Might first generate a cropped vrt and then do a warp in mem on the cropped vrt?
Recall @bbuzz31 had some similar issue for the nlc map.

[2020-06-24 22:04] leiyangleon commented on #35
@dbekaert Thanks for spotting the problem. That is probably the reason why I cannot get access to the specific data values. Sounds good. Will update the docs then.

[2020-06-24 22:07] Askaholic opened #56 "Refactoring notes for cleaner code"
Some simple things which I'm noticing while reading the code. I think these things will go a long way in cleaning up the code.

1. **Place "high level" functions at the TOP of the file and "low level" functions towards the bottom.** This should generally coincide with the order in which the functions are called, so for example:
[code]
This allows someone who is reading the code to follow the flow

[2020-06-25 13:59] dbekaert commented on #56
Sounds good.

@Askaholic @jlmaurer with respect to module dependencies that might change depending on the model. Would you say require everything and have the import a the top of the code or allow for function level imports too?

[2020-06-25 17:58] Askaholic commented on #56
I was thinking about point 3 overnight, and came to the conclusion that it might not always be possible. For instance when working with really large files, we might not be able to load them entirely into memory, and instead need to load them in chunks. In this case it's more appropriate to support only hdf5 format and load slices as needed. Otherwise it would be a bit of a software engineering tas

[2020-06-26 23:15] Askaholic opened #59 "Windows does not like files with `:` in the name"
These files are giving me "invalid path" errors on Windows:
[code]

and I think it's because of the colons. https://docs.microsoft.com/en-us/windows/win32/fileio/naming-a-file

![image](https://user-images.githubusercontent.com/17941539/85907921-b4bdbb80-b802-11ea-8aab-0c70b3c229db.png)

We might want to rename these if we want to support Windows users in the future.

[2020-06-27 00:14] bbuzz31 commented on #55
I would recommend replacing the `gdal.Warp` command (and `wrpOpt`) with:
```gdal.BuildVRT(memRaster, inRaster, outputBounds=[minlon, minlat, maxlon, maxlat])```
This seems to increase the access speed, but when the array is read in `utilFcns.gdal_open()` it will still take awhile for a large region.

[2020-06-27 16:13] dbekaert commented on #55
Agreed; the first vrt makes it such the warp only need to take into memory
the part that is needed.
This makes warping much more efficient.

On Fri, 26 Jun 2020 at 17:14, BB <notifications@github.com> wrote:

[2020-06-27 16:15] dbekaert commented on #59
The WRF software outputs using that filename convention.
Is there another work around that can be done for windows machines?

[2020-06-28 23:53] Askaholic commented on #59
Can you give me a link to WRF? Maybe this is something that should be considered on their side (or is already solved in some way). If it's just a matter of WRF outputting files with this name, then that's no problem. We just rename the files. If somehow we need to feed those files back into other software which is expecting names with colons, then we'll need to think about it further.

I really do

[2020-06-29 19:51] dbekaert commented on #36
@leiyangleon.

Similar to the merra model i believe you need to add the GSFC DAAC  application to your earth data profile.
Also per email conversation with GMAO, see here for additional documentation: https://colab.research.google.com/drive/1f_ss1Oa3VzgAOd_p8sgekdnLVE5NW6s5

[2020-06-30 14:43] jlmaurer commented on #37
Hey @dbekaert @Askaholic @leiyangleon I have a question. The current HEAD breaks when passing the --station_files option because of the following line:
https://github.com/dbekaert/RAiDER/blob/eadc4627632dfcd76f2bd4f3c33de380e1cf0921/tools/RAiDER/delayFcns.py#L167

## Apparent Problem
The problem here is that the input data can be a 1-D list of stations, a 2-D raster, or a 3-D data cube (e.g. weath

[2020-06-30 15:58] dbekaert commented on #37
Independent of the 1-2-3D chunk issue. I do not think we should  have variable chunk-size based on the number of cores available (https://github.com/dbekaert/RAiDER/blob/eadc4627632dfcd76f2bd4f3c33de380e1cf0921/tools/RAiDER/delayFcns.py#L93), rather have the chunk-size set based on what the maximum computational need/ memory would be for a chunk. This would make the code much more agile when we pr

[2020-06-30 21:40] leiyangleon commented on #36
@dbekaert @jlmaurer After reading the [documentation](https://colab.research.google.com/drive/1f_ss1Oa3VzgAOd_p8sgekdnLVE5NW6s5), I have finally figured out the problem. In the documentation, it says PyDAP is not working due to a known bug. Since we do want to use PyDAP, I then went to the two posts about the bug, which is exactly the same error as I reported. Here they are: [post1](https://github

[2020-06-30 21:48] leiyangleon commented on #35
@dbekaert @jlmaurer problem solved after adding the application `NASA GESDISC DATA ARCHIVE` to my earth data profile as @dbekaert suggested. I am going to write a file linked from the main page to account for this.

@dbekaert thanks for the notes. Yes, we will slice the array based on the bounding box and utc time, etc.

[2020-06-30 22:28] leiyangleon commented on #37
@dbekaert @jlmaurer
1. I can see the current chunking restricts the extension of data dimensions. I remember the original delayFcns.py @jlmaurer wrote has chunks included from the weather model file but somehow @jlmaurer decided to remove it and switched to the no-chunk version. So I started from the no-chunk version with makepoints1D, and then split the 1-D array to several segments (what I call

[2020-06-30 22:50] dbekaert commented on #36
@leiyangleon did you add the application to your earthdata profile for merra-1 before testing or after testing the download of GMAO?

[2020-06-30 23:06] leiyangleon commented on #36
@dbekaert yes will update both the linked file and the readme.

I tested the application for each of MERRA-2 and GMAO independently by adding/removing the Earthdata application. MERRA-2 is sensitive to the application while GMAO is not.

[2020-06-30 23:06] jlmaurer commented on #36
@leiyangleon that is great! I believe we can specify to exclude a specific person in the .yml file.

[2020-06-30 23:13] jlmaurer commented on #37
@leiyangleon @dbekaert I think that setting the number of processes to the number of cores probably is optimal for small (small meaning <amount of available RAM) data sets because it minimizes the amount of overhead required when doing passing back and forth from processes. Possibly once the chunk size exceeds the amount of available RAM then it becomes more efficient to have more chunks.

[2020-07-01 14:48] dbekaert commented on #36
Ah great, i was not aware that is possible!  Thanks for confirming.

[2020-07-01 14:51] dbekaert commented on #37
At this point the work by @leiyangleon is already an improvement where we were in the past, so would want to see where we can enhance it more.

@leiyangleon  @jlmaurer, perhaps lets have a meeting when @Askaholic is done with profiling to see where bottleneck slow-down is occuring?

[2020-07-01 15:45] jlmaurer commented on #59
@dbekaert @Askaholic as I said in #60 this is only relevant for files stored in the test folder in the repo; it is irrelevant for any files that a user brings. We only need to rename the test files.

[2020-07-01 15:46] jlmaurer commented on #55
Thanks @bbuzz31 and @dbekaert I'll implement that change and push it to the repo!

[2020-07-01 15:48] piyushrpt commented on #55
If you are not transforming map projections, using translate is going to be lot faster than warp

[2020-07-01 16:48] dbekaert commented on #59
Ok has another call with @jlmaurer to catch up.

1. We rename the files with _ instead of : in the test repo. this should remove the issue to clone on windows machine.
2. For the unit test we clone, rename the file to the original WRF convention, and then will run it.
3. For our downloaded files using the API, we update to not have : or -; i.e. ERA-5 make it ERA5; merra-2 make it merra2 etc.

[2020-07-01 17:01] #59 closed

[2020-07-01 17:51] Askaholic commented on #59
@dbekaert Your suggested step 2 is not possible on Windows. Windows simply does not allow you to put ":" in a filename, ever, for any file.
For example notice that the following code:
[code]
Raises an `OSError` on Windows. On Linux, or Mac this would happily create a file called ":", but the Windows file system does not allow file paths to contain certain characters, ":" being one of them. That's

[2020-07-02 17:54] Askaholic opened #63 "Replace cython with pybind11"
One of the things that came up in the meeting with Michael Aivazis was the idea of writing python bindings using `pybind11` instead of `cython`. I think this has some merit for a few reasons.

1. This project does a lot of tasks which are highly parallelizable over multiple threads. Implementing true multithreading is probably easier in pure C++ (although cython does have functionality for it).
2.

[2020-07-09 02:28] jlmaurer commented on #39
I'm closing this issue as ERA5T has been added and verified.

[2020-07-09 02:28] #39 closed

[2020-07-09 17:24] jlmaurer commented on #55
Thanks @piyushrpt, we implemented the virtual raster and seems to be working well!

I just noticed though that the DEM we download is ellipsoidal heights; should we be doing an ellipsoidal correction as is done in ISCE?

[2020-07-09 17:31] dbekaert commented on #47
Per offline team meeting we will proceed with python logging. The ADT/SDS will refactor code upon delivery.

[2020-07-10 00:12] dbekaert commented on #55
@jlmaurer see here for [details open topogrpahy]( https://opentopography.org/news/three-new-global-topographic-datasets-available-srtm-ellipsoidal-alos-world-3d-gmrt)
`
SRTM GL1 (30m Ellipsoidal) is a version of the popular Shuttle Radar Topography Mission dataset where elevation values are WGS84 ellipsoidal height as opposed to the standard orthometric, or geoid-referenced, elevation.
`

This is

[2020-07-10 00:14] dbekaert commented on #54
This has been addressed and merged into dev

[2020-07-10 00:14] #54 closed

[2020-07-10 00:14] dbekaert commented on #53
We will table this for now

[2020-07-10 00:14] #53 closed

[2020-07-10 01:21] dbekaert commented on #47
@Askaholic can you capture a few examples on best practice using python logging capabilties? This will also be relevant for ARIA-tools: https://github.com/aria-tools/ARIA-tools/issues/94

[code]
have clear mappings of code to PGE-specific meanings allows the broader pipeline to better handle error handling. For Python, propagate exceptions so that main() can catch it and output specific informatio

[2020-07-10 23:22] sssangha opened #66 "Speed-up of downloadgnssdelays.py and statsPlot.py"
**Proposed Enhancement**
Accessing delays from UNR and storing it in a CSV file through ``` downloadgnssdelays.py```,  and thereafter loading this file and prepping it for plotting through ``` statsPlot.py``` is still rather slow and inefficient, especially over a global scale. The latter in my experience can take over a day, while the former can take ~20 mins.

Specifically, I wish to explore way

[2020-07-13 14:19] dbekaert commented on #66
@Askaholic Could you provide some thoughts on this enhancement; perhaps identify current bottlenecks that we also should address in the code, caveats of over hammering a website, and perhaps basic profiling on the download and CSV generation?

[2020-07-13 16:39] Askaholic commented on #66
Ok, I can take a look at this today.

[2020-07-14 17:09] Askaholic opened #68 "Fix gitignore and generated files"
The raider scripts create quite a number of files in various directories which clutter up the git status output and make it hard to find the files that you've edited. This is even true for some of the unit tests, and the test commands in the CI config. It would be a lot better if any commands that were checked into the repo did not create any new untracked files, so that those commands can be used

[2020-07-14 18:17] #46 closed

[2020-07-14 22:55] leiyangleon commented on #36
@jlmaurer @dbekaert I have made the GMAO model to run through (see [gmao.py](https://github.com/leiyangleon/RAiDER/blob/dev/tools/RAiDER/models/gmao.py)). However, there are a few things that I wanted to bring to your attention.

1. the boundary elements of the 3-D cubes may contain nans after using "interpolate_along_axis". See the [codes](https://github.com/leiyangleon/RAiDER/blob/634e83712ef2ec

[2020-07-14 23:28] dbekaert commented on #36
That is great!

@leiyangleon Would this be related problem be solved if you download more weather model notes than the user is requesting to process data upon? The amount of data to ask extra will depend on the weather model sampling. e.g HRRR is 3 km sampling GMAO is like 12 km?; so we could add a delta to the bbox to make sure we always download more data from the model than we need for the grid

[2020-07-14 23:39] leiyangleon commented on #36
@dbekaert I coded the [horizontal sampling](https://github.com/leiyangleon/RAiDER/blob/634e83712ef2ec65e3cae8ad089a45bddd8c1e3e/tools/RAiDER/models/gmao.py#L35-L39) in the reader and the bbox also have a delta (e.g. 0.5 deg) by default. So I think we did download more data than we need. The missing data actually relate to the interpolation along vertical axis not horizontal sampling or bbox, from

[2020-07-15 02:33] dbekaert commented on #55
Will close it out, @piyushrpt let us know in care you disagree.

[2020-07-15 02:33] #55 closed

[2020-07-15 02:35] dbekaert commented on #63
If it merits the change and we can make it agnostic to the user, and the install process remains as simple, i would be fine for the change.

[2020-07-15 02:36] dbekaert commented on #44
This has been closed out for now. The JPL measures i would say we wait till the next website is launched before we invest time in to.

[2020-07-15 02:36] #44 closed

[2020-07-15 02:50] Askaholic commented on #63
The install process doesn’t change, and actually the dependencies don’t change either because pip will download the pybind headers automatically. Cython and pybind11 are also not mutually exclusive as it turns out. I’ve been using pybind for the c++ interpolator without porting over the cython modules.

[2020-07-15 03:09] dbekaert commented on #63
Then i do not have any objections. @jlmaurer thoughts?

[2020-07-15 03:14] dbekaert commented on #36
@leiyangleon, generally the models do not provide observations under topography. Your approach is correct to extrapolate.

I believe we also do this for the other models. @jlmaurer can you confirm?
In terms of modularity would be good to leverage the same function for all models perhaps such we have 1 unit test for it.

[2020-07-15 03:33] jlmaurer commented on #36
@dbekaert and @leiyangleon that is correct, we currently interpolate nan values vertically, but in the base weather model "load" method, so that should be taken care of automatically. @leiyangleon if you are getting nans after the weather model gets written to the HDF5 file that is a bug and should be fixed.

[2020-07-15 03:59] jlmaurer commented on #63
I was just looking at [this article](http://blog.behnel.de/posts/cython-pybind11-cffi-which-tool-to-choose.html), which suggests that cython and pybind11 provide opposite perspectives on the same problem: Cython allows one to stay focused on python but write native code (more my tendency) while pybind11 is C-focused and allows the developer to bring their native  code into Python easily (probably

[2020-07-15 18:06] leiyangleon commented on #36
@dbekaert @jlmaurer Without using my lines of filling missing values, I checked the variables that got saved in the h5 files, which don't include any missing values. So as @jlmaurer pointed out, yes, the base weather model "load" method indeed works to fill those missing values. Anyway, I have commented out my lines of filling missing values for now.

[2020-07-15 18:26] Askaholic commented on #66
@sssangha and I took a look at this together yesterday. We used `cProfile` to figure out that almost all of the time is spent downloading the data with `requests.get`, which is not really surprising. Since the data hosted by UNR is only available through a bog standard Apache2 HTTP file server, we are stuck doing 1 web request per file. So the only real option for speeding it up is doing multiple

[2020-07-15 19:00] jlmaurer commented on #63
Sorry I meant if they *don't* conflict. :)

[2020-07-15 20:11] dbekaert commented on #66
I understand that the current improvement already cut by a factor of 4
@Askaholic Do you have indication on what could be gained versus time spend?

[2020-07-15 20:15] dbekaert commented on #36
@leiyangleon sounds good feel and ready to be merged at your convenience.
I had a look at the documentation of the model too.
Suggest to remove  your <key> value as that is personal from the cdsa api instructions.

@Askaholic might argue against hashed out statements in code.

[2020-07-17 00:08] Askaholic commented on #66
I think it really just depends on the user's network bandwidth (and the bandwidth of the UNR server). In theory you could download thousands of files at once. What the CPU overhead of forking thousands of processes is, I'm not sure. I would guess you'd start to notice it and you could get better performance using asyncio, but in all likelihood you will run into network bandwidth limitations before

[2020-07-17 00:17] Askaholic commented on #36
Yes, any commented out code should be deleted before merging. Either you need it, or you delete it :)

[2020-07-17 02:59] dbekaert commented on #63
Yeah that sounds good. I think we should gradually transfer. If they do not conflict we can always swap it out.

[2020-07-20 18:53] Askaholic commented on #47
I see logging vs error reporting as two different issues. The former deals with how humans interact with the program while the latter deals with how other programs interact with the program. Therefore, logging is just something that we use to be able to understand what the code is doing.

I'd say log normal messages on the "info" level and verbose messages on the "debug" level. Then we can easily

[2020-07-20 19:01] dbekaert commented on #47
@Askaholic perhaps we should update teh ticket, definitely referring to both items, likely my lack of using the right terminology. Lets also reach out to gerald to get some SDS perspective on the error reporting to the Raider code can easily be hooked into the production error handling.

[2020-07-20 19:15] Askaholic commented on #47
So are you saying that error reporting is more important than logging right now? Should I be focusing on that first?

One nice thing about simply raising exceptions in python, is that if they remain unhandled, the interpreter will exit with a non-zero exit code, so even if other programs invoked it as a shell script, they will be notified of a failure in this way.

[code]

[2020-07-21 18:24] dbekaert commented on #47
@pymonger any thoughts on how you want the error handling done such it easily integrates in the NISAR SDS?

[2020-07-21 18:38] dbekaert commented on #36
This has been closed out through #71

[2020-07-21 18:38] #36 closed

[2020-07-21 19:03] jlmaurer commented on #63
Closing as we will maintain both cython and pybind11 for the time being.

[2020-07-21 19:03] #63 closed

[2020-07-21 19:23] Askaholic commented on #47
So as I understand it, the main issue with error reporting has to do with users being able to figure out why the program failed so that they can fix their setup appropriately. So I think kindof a mix of two things can help with this:

1. Lots of input validation which will throw exceptions with useful error message if some requirements aren't met. We want to follow a [fail fast](https://en.wikiped

[2020-07-21 23:50] leiyangleon commented on #35
@dbekaert @jlmaurer I checked the [above-mentioned](https://github.com/dbekaert/RAiDER/issues/35#issuecomment-622090712) pressure-level (inst6_3d_ana_Np, M2I6NPANA 5.12.4) and model-level (inst6_3d_ana_Nv, M2I6NVANA 5.12.4) data in the MERRA2 [docs](https://gmao.gsfc.nasa.gov/pubs/docs/Bosilovich785.pdf). Please see attached the two figures extracted from the docs. For the pressure level, surface

[2020-07-22 00:02] leiyangleon opened #74 "refractor _uniform_z in weather model base class for other new weather model readers"
This ticket is to refactor the [_uniform_z](https://github.com/dbekaert/RAiDER/blob/c652d0be59f088b608ea13f6d2a2d115757f53c0/tools/RAiDER/models/weatherModel.py#L551-L569) function in the weather model base class `WeatherModel`, upon which other user-defined new weather models are built.

If looking at the newly-added GMAO model, it also has the few [lines](https://github.com/dbekaert/RAiDER/blob/

[2020-07-22 19:37] dbekaert commented on #66
Addressed through #72

[2020-07-22 19:37] #66 closed

[2020-07-22 20:58] dbekaert commented on #35
@leiyangleon can you replace the model to point to inst3_3d_asm_Nv instead of inst6_3d_ana_Nv.
That will make it the same as for GMAO. Note that this is a 3Hourly model output.

I will verify with the atmospheric scientist to see if this is the best one to use.

[2020-07-22 23:15] leiyangleon commented on #35
@dbekaert Yes, I can use that instead. That one looks almost identical to the GMAO model.

[2020-07-22 23:36] dbekaert commented on #47
Logging has been added under #75 . Thanks @Askaholic

[2020-07-22 23:36] #47 closed

[2020-07-23 05:22] dbekaert commented on #49
first version added under https://github.com/dbekaert/RAiDER-docs/pull/1

[2020-07-23 15:08] dbekaert opened #78 "refractor input parsing to be modular and assert correct inputs"
@Askaholic discussed in other issue tickets to remove duplication on shared input arguments and their syntax between different programs.

In addition we discussed capturing driver errors early one.  So, should we also implement a verification that input arguments are supplied correctly, directly after parsing?
- e.g. assumption on date order for seasonality?
- e.g. verifying dates and time are in

[2020-07-23 17:01] Askaholic commented on #78
I think a lot of the input validation can be done in the parsing stage directly by supplying parsing functions through the `type` parameter.

[2020-07-23 17:31] dbekaert commented on #78
Would you recommend a single location for this for the parser and checks? https://github.com/dbekaert/RAiDER/blob/a3548e9f23d6280629f14bd2a15b75bcb5263f35/tools/RAiDER/statsPlot.py#L23

Few examples for discussion stimulation:
- This does not enforce the date formatting to be checked in the parser: https://github.com/dbekaert/RAiDER/blob/a3548e9f23d6280629f14bd2a15b75bcb5263f35/tools/RAiDER/downlo

[2020-07-23 17:42] Askaholic commented on #78
Yea I'm thinking some directory structure like this:

[code]

We would put the parameter parsing functions in validators.py. I think you're pretty much free to do as much input validation as you want in the parsing functions even checking that files exist etc: https://docs.python.org/3/library/argparse.html#type

[2020-07-23 20:25] dbekaert opened #79 "Fix for LOS file and state vector delay calculations"
Fix bug in RaiderDelay option using the LOS option.
- state vector
- LOS file

[code]

This would need to be fixed in order for @Askaholic to continue with refactoring.

[2020-07-23 20:56] dbekaert opened #80 "Code-coverage though Pytest and coveralls"
Per discussion with @Askaholic:

- it woudl be good to include a coverage report as part of pytest.
This allows us to see how much of the unit-test cover the code; and would highlight gabs.

- adding coveralls as application which would then test the coverage for new code to be added in each PR. It would take the coverage report from the py-test and visualized it in the PR like CircleCI. https://c

[2020-07-24 00:55] Askaholic commented on #80
To generate the coverage report we can use https://pypi.org/project/pytest-cov/. This will generate a coverage file which can be optionally posted to coveralls.io, which will give us coverage statuses on PR's and also track coverage changes over time.

Since some of these dependencies are only required for people who are developing the project, typically they would be installed as optional "dev" d

[2020-07-24 02:05] dbekaert commented on #80
we can make and environment_dev.yml file, and update circle ci to use that
one. We should just be careful in future to ensure that we update both
files if we expand the requirements.
Does circle ci also not have a coverage reporter?

On Thu, 23 Jul 2020 at 17:55, Askaholic <notifications@github.com> wrote:

[2020-07-24 03:10] Askaholic commented on #80
Oh yea, maybe it's possible to split the dependencies between two files, that would work nicely as long as Vonda lets you install from multiple environment files.

I think the coverage reporting is just a web request (file upload?) so technically it can be done with wget or curl, but it’s easier to just let the python script do it.

[2020-07-24 19:42] dbekaert opened #81 "Implement option for convetional slant delay computation"
This option would be calculation of slant delay by first computing the zenith delays and projection towards the slant.

[2020-07-24 19:46] #49 closed

[2020-07-24 19:52] dbekaert commented on #68
@jlmaurer next we should modify the scenario to output all files in an pre-defined folder which we can exclude in gitignore. Will make pushing of new test code easier. Same for files that get downloaded etc.

[2020-07-27 14:27] #37 closed

[2020-07-27 20:54] jlmaurer commented on #78
@dbekaert do you want to close this issue re #82 or leave it open for further work? @Askaholic notes that more could be done.

[2020-07-27 21:28] Askaholic commented on #78
Don't close it, it's far from being done.

[2020-07-28 03:45] #80 closed

[2020-07-28 18:30] dbekaert opened #87 "STATS: Seaonal Amplitude analysis"

[2020-07-28 23:41] dbekaert opened #88 "plotting weather model debug plots."
Adding in a capability to plot the weather model at low and higher elevation. this allows us to verify P,T,e to see if it looks as expected.

[2020-07-29 18:52] Askaholic opened #89 "Choose a consistent bounding box format"
Currently the bounding box is taken as an input in NWSE order, and printed out in various places in SNWE order. Needless to say this is confusing, we should pick one order and stick with it everywhere.

[2020-07-29 18:57] sssangha commented on #89
The input for ```downloadGNSS.py``` and ```statsPlot.py``` are already expected in SNWE order. This is the convention in other packages such as ISCE and ARIA-tools, so I think we should proceed with inputs in SNWE order across the board.

[2020-07-29 19:00] Askaholic commented on #89
Ok that sounds good. I'll go ahead and change the arg parser to use SNWE as well.

[2020-07-29 19:02] Askaholic commented on #88
The current plotWeather file is outdated and is trying to call functions that don't exist anymore. For example:
[code]

[2020-07-29 23:47] #89 closed

[2020-07-29 23:48] dbekaert opened #91 "STATS: update documetnation for new SNWE bbox"
new PR #89 needs to be propagated into the documentation examples

[2020-07-30 15:48] dbekaert opened #92 "STATS: Can we split the statistical analysis in hydrostatic and wet?"
Capturing a question posted during the NISAR FTM:  `Can we do our analysis and separate the wet and hydrostatic/dry component?`

Answer: The GNSS providers provide the Zenith Total Delay. E.g. UNR tropo product description: http://geodesy.unr.edu/gps_timeseries/README_trop2.txt. Splitting the delay into two components would require information from a weather model to compute the hydrostatic/dry de

[2020-07-30 16:50] dbekaert opened #93 "placeholder: Adding in dispersive tropopsheric component"
Potentially expand RAiDER to add in the liquid precipitate component.

This would be a frequency dependent component. Background here: https://apps.dtic.mil/dtic/tr/fulltext/u2/a139154.pdf

[2020-07-30 17:21] sssangha commented on #87
We will add options to evaluate the seasonal amplitude on a station-by-station basis and for the gridded array.

@dbekaert, should we also capture phase values by (1) default, (2) by specifying a separate option, or (3) not at all. In my opinion, we either do (1) or (3) as I would aim to be conservative with options going forward where possible to not overwhelm the user. I.e. with (2) users would

[2020-07-30 19:23] sssangha opened #94 "STATS: Re-running program efficiently"
This ticket outlines the motivation and proposed strategy behind adding in the ability to re-run the codes efficiently without restarting from scratch everytime. E.g. if a user specifies all of the same input arguments the second time, but the only difference is that the input csv has been expanded to include 2 more months of data, just append to existing output csv (outlined in more detail below)

[2020-07-30 22:03] sssangha commented on #94
Storing a physical dictionary of inputs arguments would not require much overhead. However a clean, yet less transparent alternative would be to generate a unique hash and store it to a hash file that may be referenced vis-a-vis successive user inputs.

Just as a note, from what I've seen it is recommended that such a dictionary of input arguments is to be serialized as JSON before hashing. E.g.:

[2020-07-30 22:04] Askaholic opened #96 "Discussion about reprojecting rays vs weather model"
After analyzing the performance of delay calculation at query points, I found that currently the time is split fairly evenly between two tasks;

1. Reproject the rays into weather model coordinates
2. Interpolate the weather model at ray points

By replacing the scipy interpolator with the c++ implementation I was able to bring the proportion of time spent on the interpolation down to a negligible

[2020-07-31 03:18] dbekaert commented on #96
The y,x,z is very confusing, and i suspect you will not be the only one to make that error.

The choice of handling the model in the native space was done for a specific reason that it would avoid interpolation errors/artifacts. Yes we do currently interpolate the vertical to a regular grid because pressure levels are not at the same hight, but for pressure levels that is not needed. Once that reg

[2020-07-31 03:39] piyushrpt commented on #96
The PROJ C/C++ API for bulk transformation can be found here:
https://proj.org/development/reference/functions.html#c.proj_trans_array

pyproj.transform itself can handle multiple points at the same time

For interpolation with C++ - there are numerous options - C++ bindings to fitpack (Scipy interpolation is mostly fitpack), Eigen (also used in isce3) etc

[2020-07-31 14:04] dbekaert opened #97 "Adding HRES model support"
1) include ecmwfapi as dependency
2) document how to get the model set up
3) add a reader for HRES

[2020-07-31 20:43] dbekaert commented on #96
@piyushrpt @jlmaurer @Askaholic dump of thoughts here:

## RAY-tracing in EC or in local weather model grid
**Current**
1. weather model is in its own projection, and we make a linear interpolator
2. long lat grid is provided in own projection
3. we calculated ray on grid points and sample it every 10 m in EC coordinate frame
5. we convert ray in EC to weather model projection
6. we interpolate th

[2020-07-31 20:52] dbekaert commented on #96
@Askaholic @jlmaurer could you inspect how linear the rays when projecting them from EC back to the local weahter model projection? Would suggest you try a variety of weather model grid projection (MERRA/GMAO WGS84+lonlat at EPSG4326 ; HRRR lambert conformal conic, ECMWF etc.)

[2020-07-31 20:53] dbekaert opened #99 "fix definition of integration height"
Integration height should be the vertical height not the LOS range.

[2020-08-03 01:01] sssangha opened #100 "Install fails [BUG]"
**Describe the bug**
Build of library bindings fails using existing conda environment recipe because c++17 compliant compiler wasn't include.
Refer to this error at the end of python build:
[code]

**Desktop (please complete the following information):**
 - RAiDER git tag: ```937ca731dfc5bb2fca676b2f8ddce0d75d7eedd6```
 - OS

[2020-08-04 18:06] sssangha commented on #91
Addressed in https://github.com/dbekaert/RAiDER-docs/pull/4

[2020-08-04 23:21] leiyangleon opened #103 "Issues to be resolved for a new PR on weather models GMAO and MERRA-2"
@jlmaurer @dbekaert Please review below the list of issues or temporary fixes so that I can issue a new PR on the newly added weather models GMAO and MERRA-2. Please let me know what you think for each of these points and if there is any action needed.

(_PS: I sent you guys messages in my weekly project report and slack but haven't heard from you yet. I need your opinions to finalize the changes

[2020-08-04 23:22] #74 closed

[2020-08-05 00:04] Askaholic commented on #79
I looked into this a little bit. I think there are actually 2 issues here. The first is that the look vectors returned by Geo2rdr are not correct, which causes `makePoints3D` to return rays of length 1 somehow (for example the shape I was getting was `(587, 519, 41, 3, 1)`). Then the second issue is that the indices into the ray are also not correct because they should be splitting the second to l

[2020-08-05 15:18] dbekaert commented on #79
@jlmaurer can you add in two unit test for the code, as this was fixed in the past and looks to have sneaked back in:
- for a lon lat on the ground for a know location/S1 path, e.g. MExico, do a wget to an orbit file and retrieve the unit vector using geo2rdr and make sure the numbers are correct and in the right format. Do one for near range and one for far range.
- For the same track which we al

[2020-08-05 16:28] dbekaert commented on #103
hi @leiyangleon could you perhaps clarify which items are fixed and which are to be addressed?
I suggest for those outstanding separate issue tickets to be generated such they can be fixed.
i.e. i understand that the first two items are open issues?

wrt lag issues:
- that sounds good.
- I have emailed GMAO team to get you that information, you were copied in CC.
- ok that should be fine for now.

[2020-08-05 18:24] jlmaurer commented on #79
@dbekaert sounds good; the whole losreader module needs unit-tested, so I'll work on those.

[2020-08-07 22:19] leiyangleon commented on #103
@dbekaert sounds good. Below I have action items marked explicitly. Most of the action items for you and @jlmaurer are only to confirm (except 2nd bullet in version inconsistency) and I will do the rest. Please let me know when you have a chance.

Version inconsistency:

1.	Probably not a bug: by running the following example command
`raiderDelay.py --date 20200103 --time 23:00:00 --latlon test/sc

[2020-08-11 17:49] dbekaert opened #105 "Investigate masking out or water pixels"
In the final delay results derived from the GMAO model, the new version has pixels (as @jlmaurer mentioned, this could be waterbodies) masked out, while the old version retained those pixels.

Investigations to be done:
1) Os the nan issue for full water tiles or partial water tiles?
2) How does it impact the interpolation to the model grid or user grid notes; i.e. does it propagate the NaNs
3) ho

[2020-08-11 17:52] dbekaert commented on #103
@jlmaurer can you check bullet 2 above. They re part of the circle cii test suite so should have been succesfull or it would have prohibited of merging past PR.

[2020-08-11 17:55] dbekaert commented on #100
@jlmaurer we likely want to keep it easy but also system independent.

[2020-08-11 18:46] #91 closed

[2020-08-12 00:52] leiyangleon opened #106 "Bus error and/or segmentation fault for the example runs of GMAO and MERRA-2 model"
**Describe bug**

When the size of 3-D data cubes increases to certain value, e.g. 9 x 8 x 72, all three example runs from the helper message (`raiderDelay.py -h`) fail with bus error and/or segmentation fault. If the size is smaller, e.g. 7 x 7 x 72, there is no problem.

Note this error is only related to GMAO and MERRA-2 model which require the interpolation along vertical axis (could be one  p

[2020-08-12 00:58] leiyangleon commented on #106
@Askaholic @dbekaert @jlmaurer after switching to the Python interpolator, the error is fixed. Could @Askaholic take a look and try to address the problem in the C++ interpolator?

[2020-08-12 01:02] leiyangleon commented on #103
@dbekaert @jlmaurer bullet 2 can be fixed by switching to Python interpolator, which is described in a new issue ticket #106 .

[2020-08-12 14:29] jlmaurer commented on #106
Just a note @Askaholic and others there are a couple pre-existing interpolation packages in c++ ([linterp](https://rncarpio.github.io/linterp/) and [btwxt](https://github.com/bigladder/btwxt)) that perhaps could be looked at for comparison.

[2020-08-17 18:13] leiyangleon opened #107 "add model data availability check"
Probably we should also have a check in the code when models are trying to be downloaded to a file that does not exist, it provides a warning and TBD if we just eliminate the epic and continue with those that exist or if we error out altogether whcih goes into the loggers.

Right now, the worst-case lag time is selected to guarantee all the data files satisfying the lag time check exist. So it is

[2020-08-17 18:20] leiyangleon commented on #103
@dbekaert @jlmaurer I am closing this ticket. Because

Version inconsistency

- ticket #105 is opened to address water masking

- ticket #106 is opened to address the bus/segmentation error (C++ interpolator bug)

Lag time issues

- UTC time zone is now used for all models

- worst case lag time of 24 hrs is used for GMAO to guarantee the date files exist

- MERRA-2 lag time is also calculated dyn

[2020-08-17 18:26] leiyangleon commented on #35
I am closing this issue because MERRA-2 mode support has be completed as [here](https://github.com/leiyangleon/RAiDER/blob/dev/tools/RAiDER/models/merra2.py).

[2020-08-18 00:33] Askaholic commented on #106
Yea I might be able to write some wrapper around one of those libraries, but I think either way I'll have to implement `interpolate_along_axis` myself because that doesn't seem to be supported out of the box as far as I can tell.

I also stumbled upon another library which might potentially be of interest:
https://pangeo-pyinterp.readthedocs.io/en/latest/

@leiyangleon You could also try setting `

[2020-08-18 17:59] sssangha commented on #11
Unit error verified. Factor of (10^4) was applied to the sill value. Will push separate PR with fix soon.

[2020-08-18 18:01] jlmaurer commented on #103
@leiyangleon sounds good!

[2020-08-18 18:01] #103 closed

[2020-08-18 18:45] #100 closed

[2020-08-19 00:21] #106 closed

[2020-08-19 02:28] jlmaurer commented on #35
Closing as addressed by #112

[2020-08-19 02:28] #35 closed

[2020-08-19 02:29] jlmaurer commented on #51
Closing this as it's been added to the __[docs repo](https://github.com/dbekaert/RAiDER-docs)__.

[2020-08-19 02:29] #51 closed

[2020-08-24 09:03] sssangha commented on #11
Regarding my updates, here is an example of an experimental variogram fit for a single grid-cell:
![grid10_timeslice20180321–20180621_justEXPvariogram](https://user-images.githubusercontent.com/13227405/91025270-ffaf4180-e5ad-11ea-9ea8-0672e2b863db.png)

And the sill values across the entire study area for a given year:
![ZTD_sill_heatmap](https://user-images.githubusercontent.com/13227405/9102531

[2020-08-24 18:29] #11 closed

[2020-08-26 03:38] jlmaurer commented on #94
I think an HDF5 file with a specified set of attributes would work well. This is similar to what Mintpy does, where it queries several HDF5 file at each step to decide what to run. It could store the 'intermediate' data such as grid bins, analysis attributes, etc. then the plotting routine could simply query the file.

[2020-08-28 21:49] dbekaert opened #121 "Add NCUM model reader"
Adding a model reader for the NCUM model from ISRO

[2020-08-28 23:46] Askaholic opened #122 "[BUG] Look vectors computed from orbit state are not correct for all lat/lon"
It seems that some coordinates are using the wrong orbit states from the orbit file. Some of the look vectors are actually pointing into the earth (particularly at the south pole). I'm not entirely sure if this is a bug in the code or just me passing it in bad data, but @jlmaurer recommended that I open an issue.

The orbit file I'm using:
[code]
Reference time is the first time in the file: `UTC=

[2020-08-29 01:39] dbekaert commented on #122
@Askaholic could you provide some insight how you call this?

The orbit vector has multiple epics, but we are evaluating it for a fixed time.
So if we are having multiple ground point that cover the complete globe, some would need to be traced through the earth to the target. That said, I would also expect them to intersect then at a given location.

[2020-08-30 15:54] dbekaert opened #123 "End-date to ERA-I model"
The ERA-I model has been decommissioned. When we get to the implementation, we should add an end-date to the model in case users request data from it. No data post: "31 August 2019"

https://www.ecmwf.int/en/forecasts/datasets/reanalysis-datasets/era-interim

[2020-08-30 16:42] dbekaert commented on #97
# What model fields?
https://www.ecmwf.int/en/forecasts/datasets/set-i
We would be looking for the:
1. model level analysis (preference)
2. or the pressure level analysis (likely the easiest as we have done pressure level before).

# What is the model name?
https://www.ecmwf.int/en/forecasts/access-forecasts/ecmwf-web-api
One would be asking for the operational stream of data too

# How to constru

[2020-09-01 19:08] jlmaurer opened #125 "Ensure intermediate file naming conventions are adequately descriptive"
Need to make sure both query points file and weather model file names have the following info:
- date and time
- zenith or slant delay
- weather model type
- some indicator of bbox or spatial extent

[2020-09-01 19:09] jlmaurer opened #126 "Ensure that RAiDER linearly interpolates the delay results if the user-input time is not provided with the weather model"

[2020-09-02 18:38] leiyangleon commented on #123
@dbekaert updated the start/end dates of ERA-I model. Wanted to test it however received the following error:

`ecmwfapi.api.APIException: "ecmwf.API error 1: User 'david.bekaert@jpl.nasa.gov' has not access to datasets/interim. Please accept the terms and conditions at http://apps.ecmwf.int/datasets/licences/general"`

Could you double check that your account has access to ERA-I data? If not, ple

[2020-09-02 20:05] dbekaert commented on #123
Can you try again?

[2020-09-02 23:20] leiyangleon commented on #123
That solved the problem. Now the download is fine. However, the results do not look right, e.g. the dimension of lat/lon switched. There is at least a missing transpose in the ERAI reader while other ECMWF readers (ERA5, ERA5T) have that. I will try to resolve that problem next.

[2020-09-07 06:19] #92 closed

[2020-09-09 15:56] jlmaurer opened #127 "CircleCI failing, bad ECMWF credentials?"
Hey @dbekaert and @leiyangleon. My latest PR is passing all tests locally but failing on CircleCI when trying to download the weather model. I also see that the main dev branch is also failing at the weather model download stage with the message "Too long with no output (exceeded 10m0s): context deadline exceeded." I'm wondering if there is a problem with CircleCI credentials for ECMWF?

[2020-09-09 18:08] leiyangleon commented on #127
I have noticed that using ECMWF api to download data takes way longer than the other apis. Also it varies. Sometimes it is pretty fast but sometime not. I checked their FAQ, and there seems to be a queue of submitted tasks. Whenever there is a long queue, it takes much longer. I don't think we actually downloaded any data using ECMWF api in CircleCI. Only including ECMWF credentials seems fine to

[2020-09-09 19:41] dbekaert commented on #127
re-ran it and it worked. Looks like a time-out

[2020-09-09 19:41] #127 closed

[2020-09-23 17:50] dbekaert commented on #121
@leiyangleon can you double check with Prashant to integrate this back with a PR?

[2020-09-23 17:51] dbekaert opened #129 "Fix for filename convention"
hdf5 file always refers from East "E". Test with -b option such as '39 40 -79 -78' and '39 40 78 79'

[2020-09-23 17:53] dbekaert commented on #88
@leiyangleon has been covering this

[2020-09-23 17:54] dbekaert commented on #87
@sssangha lets go with option 1.

[2020-09-29 20:06] jlmaurer opened #134 "Add executable version of prepareWeatherModel to get plots for debugging and plotting"
We should add in an executable, mainly for debugging purposes, that is a command-line equivalent of prepareWeatherModel. This is so we can make the debugging plots without calling the whole delay module.

Current setup:
- prepareWeatherModel in processWM.py gets called by tropo_delay in delay.py to produce the weather model

Need to add:
- an executable similar to raiderDelay.py but that would onl

[2020-09-30 21:09] dbekaert commented on #97
has been added under #133 #135

[2020-09-30 21:09] #97 closed

[2020-09-30 21:14] dbekaert opened #138 "Benchmark comparison with thrid-party"
GACOS comparison over CA with RAiDER HRES model to investigate if there are obvious implementation differences.
Recommend the comparison of Zenith absolute delays, would need to confirm with GACOS what the maximum interpolation height is used in their computations.

[2020-10-01 16:01] #88 closed

[2020-10-05 18:51] leiyangleon opened #139 "[BUG] llreader failed in the PR #137 (Refactor DEM calculations and add unit tests)"
**Describe the bug**
See my comments below:
[1](https://github.com/dbekaert/RAiDER/commit/52dcc039fe761ff5c4243903b3e0f1905f194ad2#r42980969),
[2](https://github.com/dbekaert/RAiDER/commit/52dcc039fe761ff5c4243903b3e0f1905f194ad2#r42981124),
[3](https://github.com/dbekaert/RAiDER/commit/52dcc039fe761ff5c4243903b3e0f1905f194ad2#commitcomment-42981301)

**To Reproduce**
Steps to reproduce the behavi

[2020-10-06 20:06] jlmaurer commented on #121
Closed by #141

[2020-10-06 20:06] #121 closed

[2020-10-14 19:28] jlmaurer commented on #134
Closed by #144

[2020-10-14 19:28] #134 closed

[2020-10-19 18:58] leiyangleon opened #145 "[BUG] station file now works but no longer for lat/lon bounds"
**Describe the bug**
With the last update #142, raiderDelay works for GPS station files. However, the helper commands failed for trivial lat/lon bounds.

**To Reproduce**
raiderDelay.py --date 20180701 --time 00:00:00 -b 20 27 -115 -104 --model GMAO --zref 15000 -v

**Expected behavior**
[code]

[2020-10-24 03:12] #145 closed

[2020-10-24 22:04] dbekaert commented on #129
Issue not yet resolved in latest dev version:

[code]

[2020-10-24 22:05] dbekaert opened #151 "Ability to sample interval in date range"
Add the ability to provide a stepsize for a data range, i.e. 12 day intervals etc in support of NISAR work.

[2020-10-25 03:03] dbekaert opened #153 "Check BBox of downloaded model is already sufficient"
Prior to downloading a new model check if when there is an existing model on disk if it already meets the requirement, if yes, then do not download.

[2020-10-25 03:12] dbekaert opened #154 "Prior to computing delays asses how much of the model is needed"
In relation to issue ticket #153 we should only use whatever of a model is needed and the extra buffer to cover the bbox requested. Downloaded models that are larger should be re-cropped upon calculation.

[2020-10-25 03:17] dbekaert opened #155 "Netcdf4 instead of HDF5 for storing weather model"
Store the data as netcdf4 CF compliant file instead of hdf5 such we can leverage GDAL for chunking of the model file without much manipulation.

[2020-10-25 03:24] dbekaert commented on #129
@leiyangleon could you have a look in this?

Few thoughts:

1. The download of the models if a users users 0 to 360 or -180 to 180; we should have a consistent filename of either 180W to 180E; would recommend to avoid -180 in a filename.

2. We should ensure that what we feed into API for ECMWF, PyDAP for GMAO, HRES etc is according to what the API support. e.g. can they handle both 0 to 360 or do

[2020-10-25 03:27] dbekaert commented on #155
This will be a non-backward compatible change. We should consider doing this before model download.

[2020-10-25 03:48] dbekaert commented on #151
closed via #152

[2020-10-25 03:48] #151 closed

[2020-10-25 15:52] dbekaert opened #156 "STATS: GNSS download option consitent with delay option for start-end-sampling"
# Date range parsing:
Change the input option:
[code]

To be consistent with Raider model download option:
[code]

See Lines: https://github.com/dbekaert/RAiDER/blob/7cd97ee637f8a2a0c62ac955d6250a864d5aac9e/tools/RAiDER/cli/validators.py#L198-L216
and https://github.com/dbekaert/RAiDER/blob/7cd97ee637f8a2a0c62ac955d6250a864d5aac9e/tools/RAiDER/cli/validators.py#L136-L145

# Time parsing
Update the

[2020-10-25 21:37] dbekaert opened #157 "STATS: Residual between GNSS and Raider"
Initially we were appending GPS Raider delays to GPS delay file. Not sure we still have this support for it. Also not sure how this works if raider delays are not sampled on the same time-epics.

Suggest we do the residual calculation from he intersection between the Raider delays and GPS delays within the stats class.
@sssangha @jlmaurer what are your thought as to keep this simple, not require d

[2020-10-26 02:20] jlmaurer commented on #157
@dbekaert when I did it before it was entirely manual, in the sense that there was no built-in functionality. I just opened both files in ipython using pandas and did the manipulation myself.

We could do the manipulation automatically if the data frames are defined as time-series, which can be natively merged in pandas. This would basically require a fixed sampling time with no-data values define

[2020-10-26 17:35] sssangha commented on #157
@jlmaurer this sounds good. Would of course have to define common timing convention w.r.t. GPS zenith delays so it is seamless to compare them. Also, would be good idea to kick out missing datatimes from dataframes before saving. It makes a huge difference in accessing the data later.

[2020-10-26 18:54] dbekaert commented on #157
Just to clarify:
- We can have downloaded GPS at e.g. every 5min for 10 years for a GPS station list
- We can have raider delays e.g. fixed utc time for 10 years for a GPS station list (does not need to be the same)

Steps:
1) intersect the station list; and report those not covered in raider delays, and those not covered in GPS downloaded delays
2) intersect the time-slices now

TBD:
What is the

[2020-10-26 19:02] dbekaert opened #158 "Large weathermodel download memory issues"
Model download challenges when downloading world as all is kept in memory for all variables. Issue for higher res models like HRES. See if we can decrease memory need by more rapidly clearing variables, e.g can be written to file and clear directly before moving to another variable.

[2020-10-29 11:20] jlmaurer commented on #129
Closed with #161.

[2020-10-29 11:20] #129 closed

[2020-10-29 14:37] dbekaert opened #164 "pixel node verus pixel center registration of models"
Currently we write manually to hdf5.
Need to verify if do not make incorrect assumption for the models.
Once we are in netcdf we can let GDAL do the semantics.

[2020-10-29 14:39] dbekaert opened #165 "[BUG] downloadonly option fails as tries to generate hdf5 model file"
**Describe the bug**
downloadonly option fails as tries to generate hdf5 model file
Being addressed under #163

[code]

[2020-10-31 14:29] dbekaert commented on #165
adressed via #163

[2020-10-31 14:29] #165 closed

[2020-10-31 14:31] dbekaert opened #167 "[BUG] download-only option errors upon rerun"
**Describe the bug**
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Download a file using download only
2. rerun the download command again

[2020-10-31 14:39] dbekaert opened #168 "HRES download failure prior to 2013-06-25 due to different number of model levels"
I have reached out to ECMWF for guidance and to get insight if the model has some fixed changes in time which we need to account for in the API. Looks like the requested number of variables versus what is expected is not consistent for recent and older HRES data.

![Screen Shot 2020-10-30 at 4 51 21 PM](https://user-images.githubusercontent.com/19240905/97781983-23fa4200-1b4c-11eb-92b8-06d4f9f6ef0

[2020-10-31 14:43] dbekaert opened #169 "Ability for concurrent downloads"
Ability for user to specify multiple concurrent download option.

[2020-11-02 16:45] dbekaert commented on #168
Heard back from ECMWF helpdesk.
- Before 2013-06-25, only 91 model levels are available
- 2013-06-25 and onwards only 137 model levels are available

@leiyangleon can you update the download API to handle the change internally; might have an impact on the constants for the model levels prior to 2013-06-25.
@jlmaurer once the model is loaded it should be agnostic to this difference. Let me know if

[2020-11-02 18:43] leiyangleon commented on #168
@dbekaert sure, looking into it.

[2020-11-03 02:12] dbekaert opened #171 "DEM download chunking"
ARIA-tools has included a chunking for DEM download. https://github.com/aria-tools/ARIA-tools/pull/240
We should port this back to address large region issues.
@sssangha  is that something you could do?

[2020-11-03 02:41] dbekaert commented on #168
@leiyangleon the mapping of the coefficients for 91 model levels can be found here:
https://www.ecmwf.int/en/forecasts/documentation-and-support/91-model-levels

[2020-11-04 17:21] dbekaert commented on #169
worked under download branch

[2020-11-04 17:48] leiyangleon commented on #168
@dbekaert it is fount to be 2013-06-26 not 2013-06-25. I have fixed that and run a 10-year (09-20) test to verify. It works properly now.

[2020-11-04 22:30] rzinke opened #173 "[BUG] Conda environment conflicts on Mac"
**Describe the bug**
When I attempt to install RAiDER on my Mac, I get the following error message:

[code]

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Desktop (please complete the following information):**
 - RAiDER git tag: commit ec4e8be68a9eaa714d9c14df477d3982a8896751
 - Mac OS Mojave: 10.14.6

[2020-11-04 23:33] rzinke commented on #173
Ah, the problem is with sysroot_linux-64. Do you plan to support RAiDER on Mac?

[2020-11-05 01:02] leiyangleon opened #175 "[BUG] first helper command of raiderDelay failed for each weather model"
**Describe the bug**
I checked the latest dev branch, which has the following errors for each weather model when calling raiderDelay.

[code]

**To Reproduce**
To reproduce, one can just run the first helper command of raiderDelay.

[2020-11-05 02:38] bbuzz31 commented on #173
I've tried various combinations of the solutions proposed here: https://github.com/conda/conda/issues/6689
and here to no avail https://github.com/conda/conda/issues/7038

[2020-11-05 04:12] #168 closed

[2020-11-05 04:36] dbekaert commented on #175
@jlmaurer are these not unit tests?

[2020-11-05 05:12] dbekaert opened #177 "bug introduced after in memory storing for GMAO/MERRA"
@leiyangleon  the last PR on GMAO believe it introduced an issue for the filename that is expected.
It was not flagged as the "osr" issue occurred before.
PR is merged so tracking here for reference

[code]

[2020-11-05 05:38] dbekaert opened #178 "[BUG] plotting requires screen connection"
can be suppressed and plotted without need for screen.

[2020-11-05 05:51] #178 closed

[2020-11-05 05:51] #169 closed

[2020-11-05 06:41] dbekaert commented on #177
Simple fix:

[code]

Added user #179

[2020-11-05 06:45] dbekaert commented on #175
@leiyangleon we are testing the help as part of circle CI.
I do not see these issues under circle CI.

<details>

[code]

[2020-11-05 06:52] dbekaert commented on #177
closed per #179

[2020-11-05 06:52] #177 closed

[2020-11-05 16:44] jlmaurer commented on #173
@bbuzz31 and @rzinke I've been using RAiDER on Mac from the beginning, so I'm not sure why you guys are having trouble. It might be an issue of having the [command line tools installed](https://www.embarcadero.com/starthere/xe5/mobdevsetup/ios/en/installing_the_commandline_tools.html), you could try that?

[2020-11-05 18:02] leiyangleon commented on #175
@dbekaert we are not testing exactly the first help command of raiderDelay in CI. You can check out the latest dev branch and run the following command to see if it is a problem to you.

`raiderDelay.py --date 20200103 --time 23:00:00 -b 39 40 -79 -78 --model ERA5 --zref 15000 -v`

[2020-11-05 18:09] leiyangleon commented on #177
@dbekaert sorry my bad. Good catch!😊

[2020-11-05 22:36] dbekaert commented on #171
Thanks @sssangha, per #180

[2020-11-05 22:36] #171 closed

[2020-11-05 22:37] dbekaert commented on #173
I get the same messages, but the code runs fine.
Currently we are not officially supporting RAiDER, and are rapidly evolving the code-base.
Use at own risk.

[2020-11-05 22:37] #173 closed

[2020-11-06 00:09] dbekaert commented on #168
Ok i did the test now. ERA5 and HRES multi-parallel works over the complete period.

[2020-11-07 03:35] #167 closed

[2020-11-07 03:51] dbekaert opened #184 "[BUG] ERA5 and GNSS station list assertion error"
When running the following command:
[code]
Leads to an assertion error:
[code]

However if you now return the same command again starting of where one left, it does not error out:
[code]

[2020-11-07 03:58] dbekaert opened #185 "[BUG] ERA5 and small stations list"
Code seems to be able to fetch the weather model but has issues with delcay computation.
This is likely related to small bbox:

stationfile include only:
[code]

Command to run:
[code]

Output received
[code]

[2020-11-07 03:59] dbekaert commented on #175
This has been fixed in #181

[2020-11-07 03:59] #175 closed

[2020-11-07 04:23] dbekaert opened #186 "[BUG] logging fails to capture parameter value"
Not displaying correct:
- 'reference z-value'  and 'Zref'; are these also not both the same?
- 'stepsize' is overly correct with significant digits.

[code]

[2020-11-07 04:29] dbekaert opened #187 "[BUG] HRES and station list"
Testing first larger download of HRES and then a smaller station list for compatibility.
The code correctly captures that a re-download is not needed, but errors out later on with error not seen before.

[code]

Where the station_file has the following dummy content:
[code]

The full error message is:
[code]

[2020-11-07 04:30] dbekaert commented on #158
So far it looks we can keep ERA5 in memory when computing delays for the global GPS station list

[2020-11-07 06:43] dbekaert commented on #157
@sssangha we are pretty close to rely on this component; emailed a link location with a set of CSV files to be concatenated

[2020-11-07 06:44] dbekaert commented on #156
medium priority as potentially it could be handled by the intersection #157

[2020-11-07 06:44] dbekaert commented on #153
Seems to be already adressed.

[2020-11-07 06:44] #153 closed

[2020-11-07 06:46] dbekaert commented on #99
@jlmaurer can you also clarify if the integration height is actually the "elevation" or is vertical height added to the surface?

[2020-11-07 07:11] dbekaert opened #188 "[BUG] incorrect use netcdf versus hdf5 for GMAO in download-only; and h5py not defined error"
When using the --downoad_only mode, GMAO download stores file with a netcdf extension.
When running without it stores the GMAO file wih hdf5 extension.

[code]

But if you re-run it errors out:
[code]

If you do not us multi-pool then its becomes clear that the filename is now an h5 file, and also errors out for the same reason.

versus:
[code]

[2020-11-07 07:22] dbekaert opened #189 "Adding support for GMAO pre-2017-12-01 (not compatible with opendap)"
This is an extension of #36. Opendap does not support a file format change for GMAO products introduced in 2017, this means that all data prior to 2017-12-01 is not accessible with opendap, although the archive starts in Feb 20 2014.

I am not clear as to what changed in the product. I found the files to look the same when opening in panoply.

Suggest we implement an alternative download that fetc

[2020-11-07 21:39] dbekaert opened #190 "refactor parallel option to delay and download"
1. parse the args using dictionary for simplicity
2. expose the parallel option to user.
3. let the download_only be handled within delay not in the runProgram.

[2020-11-07 22:03] dbekaert commented on #107
Currently some of the models which have a lag are printed to the logger and screen to be avialble to pressent:

[code]

[2020-11-07 22:34] dbekaert opened #191 "[BUG] HRES 91 levels a,b coefficients not tied to historic data, rather the 137 coefficients are provided"
**Describe the bug**
HRES is not handling internally the a,b coefficients correctly. i.e. the 91 levels are not tied to the historic data.

**To Reproduce**
Steps to reproduce the behavior:
1. Command used
I was processing in parallel mode, but it will be sufficient to use only one date to replicate
[code]
2. Error Output
[code]

**Expected behavior**
Historic HRES data should leverage the 91 leve

[2020-11-08 00:02] dbekaert commented on #190
fixed through #192

[2020-11-08 00:02] #190 closed

[2020-11-08 00:03] dbekaert commented on #188
fixed through #192

[2020-11-08 00:03] #188 closed

[2020-11-08 02:45] dbekaert commented on #191
@leiyangleon looks like you already had the function in place but forgot to call it.
Testing it now and will issue PR if it works.

[2020-11-08 03:18] dbekaert commented on #191
This is being fixed under  #193

[2020-11-08 03:18] #191 closed

[2020-11-08 03:38] dbekaert commented on #189
This is being developped under https://github.com/dbekaert/RAiDER/compare/dl_historic_gmao

[2020-11-08 04:12] dbekaert opened #195 "[BUG] HRES dtype error when loading the global data (Memory?)"
**Describe the bug**

HRES delay code errors out when trying to load the global file. Might be memory related (https://stackoverflow.com/questions/55024259/valueerror-when-changing-to-a-larger-dtype-its-size-must-be-a-divisor-of-the-t)

[code]

[2020-11-08 04:31] dbekaert commented on #158
HRES fail; memory error could be related to #195

[2020-11-09 18:52] leiyangleon commented on #191
@dbekaert this should not be a problem. See processWM.py [here](https://github.com/dbekaert/RAiDER/pull/172/files) in my PR that indeed update the coefficients when reading old HRES model data. I have tested 10-year (09-19) data without errors. I am not sure if it is the parallel mode that surpasses my above check. Anyway, seems you fixed it by adding it twice.

[2020-11-09 19:00] dbekaert commented on #191
This was not being invoked for parallel.
likely related to the use of "is" versus "==" in that statement.
We had a similar issues.

I added an extra PR on top of that, that one in verified works.
but i added it at another location.
so we should clean it up and ensure it works for both parallel 1 and >1.

On Mon, 9 Nov 2020 at 10:52, Yang Lei <notifications@github.com> wrote:

[2020-11-09 19:02] leiyangleon commented on #191
@dbekaert right, I also noticed the "is" vs. "==" problem. I agree we should clean it up.

[2020-11-09 19:13] jlmaurer commented on #184
Only errors with zref = 40 km

[2020-11-10 01:41] bbuzz31 commented on #189
This is now implemented in https://github.com/dbekaert/RAiDER/pull/194. It was tested by computing delays on 03/01/2019 using both pydap and direct download. The results were identical. Further testing is welcome.

[2020-11-10 23:53] dbekaert commented on #157
@jlmaurer, I tried to run this through @sssangha  code and it fails because of missing column
Suggest you keep your Datetime, so sim can update his code separately.

So would say add “Date” and “times”

What you generate:
[code]

What Sim Assumes:
[code]

You can test it as:
[code]

[2020-11-11 04:04] dbekaert opened #197 "Opening/loading of product under download_only option"
When files have been downloaded already; and a command is re-ran we open the product to report information.
Even under download-only, files will be opened to report min max of bounds and other parameters.
This is currently preventing from re-running download for HRES as it directly runs in memory issues.
Should be adressed when using GDAL to report the bounds.

[2020-11-11 04:20] dbekaert opened #198 "[BUG] stats variogram plotting"
**Describe the bug**
Running the example provided with the PR
[code]

Issue in create variograms:
[code]

[2020-11-11 05:22] dbekaert opened #199 "GMAO model bounds constraint for historic data"
@leiyangleon @bbuzz31 could you have a look at the bounds being reported out of the historic versus current day GMAO.

Perhaps @bbuzz31 you could compare for an overlapping day the reported lonlat.
Goes back to an earlier issue ticket of reporting pixel center, top-left corner of observation.
I also believe @leiyangleon made some internal fixes for other models?

## Historic GMAO

The command to r

[2020-11-11 05:27] sssangha commented on #198
@dbekaert I cannot replicate:
[code]

Are you attempting this over the small test study I had specified?

As a sanity check, download the GNSS files as specified below and relaunch:
[code]

[2020-11-11 05:33] dbekaert commented on #198
tried it on the server not on my laptop:

[code]

[2020-11-11 05:43] sssangha commented on #198
@dbekaert so it works? And yeah, you usually get those warning messages on the first run when you attempt to download some prerequisite caropy maps.

Not sure I understand why it didn't work on your laptop though.

[2020-11-11 05:49] dbekaert commented on #198
I pulled the 06 UTC file from the server and ran on that. Now testing with a local download file adn that works as well.
Can you test the 06 UTC file (global_products_06/UNRcombinedGPS_ztd.csv) we will be working from?

[2020-11-11 05:52] dbekaert commented on #198
Might need some minor change as the logger is not catching on the formatting.

[2020-11-11 05:59] dbekaert commented on #157
@sssangha @jlmaurer tried the new file you shared:

The content looks good
[code]

@sssangha i ran the following, any thoughts?:

[code]

[2020-11-11 14:21] jlmaurer commented on #198
Fixed by #200

[2020-11-11 14:21] #198 closed

[2020-11-11 15:06] #189 closed

[2020-11-11 16:08] jlmaurer opened #201 "Change variogram analysis from lon/lat distances to x/y"

[2020-11-11 16:11] dbekaert opened #202 "Stats Plots commands"

[2020-11-11 17:26] dbekaert commented on #202
@sssangha we can use the edit mode above to fill in details as we go along to track.

[2020-11-11 17:58] leiyangleon commented on #199
@bbuzz31 @dbekaert Yes, I fixed the bounds internally for all models. GMAO and MERRA-2 need to be taken care of particularly. See these [lines](https://github.com/dbekaert/RAiDER/blob/730562cd01545e1c9fc6f738566f54e586903137/tools/RAiDER/models/weatherModel.py#L132-L156). When you modify that function, please also change "is" to "==" in the if statements.

[2020-11-11 18:27] #157 closed

[2020-11-11 18:58] bbuzz31 commented on #199
@dbekaert you are on the dev branch I assume? I get different messages and no statements on the dl_historic_gmao branch

[2020-11-11 19:10] bbuzz31 commented on #199
I've tested on the dev branch now with still no issues. I get the following messages (note the bounds, and debug vs info in logger)
[code]

[2020-11-11 20:14] dbekaert commented on #199
@bbuzz31 weird. It might have been related to my old build folder.
I reran it and now it passes:

[code]

[2020-11-11 20:14] #199 closed

[2020-11-11 20:14] #201 closed

[2020-11-12 06:19] dbekaert opened #205 "close figures upon being saved (plotWeather.py)"
[code]

[2020-11-12 18:34] dbekaert opened #207 "Multi-procesing for delays fails"
Capturing this here to be addressed in future:

to replicate:
[code]

Outputs:
[code]

[2020-11-12 19:49] dbekaert commented on #184
@jlmaurer this is now also occurring for GMAO zref =30 km.

[2020-11-13 03:56] #184 closed

[2020-11-13 03:56] #185 closed

[2020-11-13 03:56] #187 closed

[2020-11-25 15:35] dbekaert opened #219 "[BUG] GNSS station ZTD errors out for 00 UTC and LGC1 station"
GNSS ZTD delays downloaded and then error out after ~12000 stations, killed for LGC1 station.

Command to replicate:
[code]

The following error occurred:
[code]

[2020-12-02 00:26] bbuzz31 commented on #219
should be fixed with https://github.com/dbekaert/RAiDER/pull/220

[2020-12-04 05:01] #186 closed

[2020-12-08 16:12] jlmaurer commented on #219
Closing as fixed with #220

[2020-12-08 16:12] #219 closed

[2020-12-15 17:59] #205 closed

[2021-01-04 23:41] leiyangleon commented on #164
Verified that by using the new [netcdf4 branch](https://github.com/dbekaert/RAiDER/tree/netcdf4), the coordinate grid in the NetCDF outputs is pixel centered (not top left corner aligned) for all of the weather models (i.e. ERA-5, ERA-5T, ERA-I, HRES, GMAO, MERRA-2, NCMR), and exactly aligned with the coordinate grid in the native weather model data (that are NetCDF files as well)

[2021-01-05 01:56] leiyangleon commented on #155
This is solved by the PR's #221 and #229.

[2021-01-05 16:58] #155 closed

[2021-01-05 16:58] #164 closed

[2021-01-13 18:03] jlmaurer commented on #207
This was closed by #230

[2021-01-13 18:03] #207 closed

[2021-01-19 16:31] jlmaurer opened #236 "Encode fixed vertical height levels for each weather model"
Currently averaging over levels.

[2021-01-19 16:39] dbekaert opened #237 "efficient loading and writing of data using x-array"
We will be updating the loading modules in the weather model class to use x-array and dask for chunked read and write of variables.

Following tests to be done:
- test reading and writing of HRES datasets with an operation: C= A+B
- test adding/propagation of attributes: e.g. units, variable name, projection, lon lat coordinates etc

[2021-01-19 16:40] jlmaurer commented on #237
Permalink to the [load method ](https://github.com/dbekaert/RAiDER/blob/73dea6e3d3a8d08755f69aa736711118b515e3cb/tools/RAiDER/models/weatherModel.py#L155) defined in the base weather model class. There may be some refactoring required to integrate xarray and dask, but it is a fairly straightforward set of operations.

[2021-01-19 17:08] dbekaert opened #238 "HRES intermediate solution"
To make progress in HRES calculation for GNSS we will divide the earth into multiple segments that can be loaded in memory.

_[x] - @jlmaurer: Update the loading module to read based on bbox only.
[x] - @jlmaurer: Load HRES file into RAIDER to compute delays; use the gridding option to determine allowable chunk size.
[x] @sssangha: Based on chunk size split the GNSS "global list" into different se

[2021-01-26 05:34] dbekaert commented on #238
@sssangha @jlmaurer i updated the comment above on the progress. First two items were closed under #239

[2021-01-26 09:33] sssangha commented on #238
@dbekaert @jlmaurer within the attached zip file are 4 files corresponding to the 4 zones within which I split up the global list of stations.

I decided to decimate by longitude, i.e. split -180 to 180 longitude into 4 long strips. The distribution between the four files is more-or-less consistent -- aside for "zone D" corresponding to Lon 90-180, which is relatively sparse.

Please let me know i

[2021-01-26 16:12] jlmaurer commented on #195
This was fixed in #234 I believe.

[2021-01-26 16:12] #195 closed

[2021-01-26 16:14] jlmaurer commented on #154
Closed by #239.

[2021-01-26 16:14] #154 closed

[2021-01-26 16:15] jlmaurer commented on #158
Fixed by #234 and #239

[2021-01-26 16:15] #158 closed

[2021-02-02 16:05] dbekaert opened #240 "Notebooks"
In prep of the working group training looking for the following examples notebooks. We have some of these already but capturing all of them for completeness. (You can edit this post to mark the box if complete)

[ ] @sssangha: Notebook to download GNSS stations over CA for a given period and time
[ ] @jlmaurer: Notebook that opens a small e.g. (10-15 row) dummy csv file and shows how to perform ba

[2021-02-02 16:14] dbekaert commented on #240
This is an example command to run raider:
[code]

[2021-02-02 17:49] dbekaert opened #241 "HRES failure due to a/b level update not done upon re-run"
We had this fixed before; looks like a revert creeped into the code.

[code]

[2021-02-02 17:56] dbekaert commented on #241
Do not think that the levels should be set when downloading the model.
https://github.com/dbekaert/RAiDER/blob/78771728c4dc7888a3f7dc3338be273a58e95182/tools/RAiDER/models/hres.py#L263

Suspect that this part of the code will get skipped if the model already has been downloaded.
Better practice would be to set the model level in the load step.
Would suggest here: https://github.com/dbekaert/RAiDER

[2021-02-02 18:49] dbekaert opened #242 "HRES failure in computeDelay related to parallel chunking"
With the chunking of quadrant i am able to run the HRES Raider code.

command used:
[code]

Experiencing an error for writing file:

[code]

[2021-02-02 18:50] dbekaert commented on #238
See issue related in #241 and #242

[2021-02-02 21:17] jlmaurer commented on #237
Putting this link in here for reference: [Parellel NETCDF writes with xarray and dask](https://ncar.github.io/xdev/posts/writing-multiple-netcdf-files-in-parallel-with-xarray-and-dask/)

[2021-02-03 09:50] #87 closed

[2021-02-06 04:35] dbekaert opened #246 "date-sampling fails when more than a month in seperation"
Need to fix sampling to not error out when longer than a month

[code]

[2021-02-06 04:35] dbekaert opened #247 "unit tests for HRES"
Add test for hres historic and current data. Small region only.

[2021-02-06 04:36] dbekaert opened #248 "Add unit test for GMAO"
Need to add unti test for GMAO historic and current day small region

[2021-02-06 04:39] dbekaert commented on #242
Seems to be something going wrong in our chunking.It errors after 5 min or so.
Looks like there is too much overhead and the chunksize might not be set correctly?
Printing the number of chunks, the chunk size and size of dataset that yields the error:
[code]

Manually hard-coding the chunksize to be the dataset size runs fine and within seconds.
[code]

[2021-02-06 04:40] dbekaert commented on #248
This would have caught issue of our last commit for both scenarios to introduce a bug.
1. opendap does not have ds.close() capability.
2. the clearing of the variable is not indent correctly for the historic data

[2021-02-06 04:43] dbekaert commented on #241
this has been fixed under PR #243

[2021-02-06 04:43] dbekaert commented on #238
@sssangha i confirm this is working with he provided chunksizes.

[2021-02-06 05:54] dbekaert commented on #246
added and merged

[2021-02-06 05:54] #246 closed

[2021-02-06 15:01] dbekaert commented on #241
@jlmaurer bug has been introduced while fixing for the historic data.
Can you correct it and add unittests for both historic and current day? see #247

[code]

[2021-02-06 16:23] dbekaert commented on #241
This might have been driver error. I tried again and it seems to work.
Likely i launched the jobs and re-compiled the code later on again with the fix.

Will check again and let you know if this is really an issue or not.

[2021-02-06 18:30] jlmaurer commented on #241
ok @dbekaert keep me posted. I'll work on some unit tests to try to eliminate these kinds of bugs creeping in as well.

[2021-02-06 23:25] dbekaert commented on #241
Seems to work for now but i cannot run as many in parallel. Works for historic HRES but then the new once has 137 instead of the 87 levels or so.

The error is memory related so this makes me wonder if we really need float64 or not.
Could we make it all work with float32?

Suggest we plan for a sensitivity test to asses it

[code]

[2021-02-07 16:44] dbekaert commented on #241
issue is resolved will make seperate issue ticket for the float64 part.

[2021-02-07 16:44] #241 closed

[2021-02-07 16:47] dbekaert opened #251 "memory need: Float64 versus Float32"
Issue ticket for us to assess what precision is really needed for the variables.
e.g. Lon lat should remain float64 for precision purposes at the 10m level.

Need to assess what is needed for the other variables separately:
- P
- T
- q
- e
- hydrostatic refractivity => gets carried in mem for the interpolation object
- wet refractivity => gets carried in mem for the interpolation object
- wet dela

[2021-02-07 16:48] dbekaert commented on #238
@sssangha @jlmaurer im adding issue #251 to this as it would impact how fast we can make progress with our intermediate solution.

[2021-02-07 16:51] dbekaert commented on #251
@jlmaurer @cmarshak:  But likely with x-array we would not be up-scaling it to Float64 given that the model variables are mostly  Float32. So perhaps with x-array this might solve itself. Still i think it would be good for us to be explicit in case new models are added with a precision which is too large for what is needed.

However for the intermediate solution suggest we make an intermediate fix

[2021-02-07 16:53] dbekaert commented on #197
This has been fixed.

[2021-02-07 16:53] #197 closed

[2021-02-07 17:03] dbekaert commented on #251
An intermediate solution on our server it to overwrite the memory allocation protocol: https://stackoverflow.com/questions/57507832/unable-to-allocate-array-with-shape-and-data-type

[2021-02-08 02:06] dbekaert opened #252 "memory leak?"
I wonder if we have a memory leak somewhere.

Even when running 1 process at a given time we run out of memory at some point.
This time another message, but similar problem.

[code]

[2021-02-08 16:08] dbekaert commented on #251
@jlmaurer the memory issues are encountered before when computing the hydrostatic and wet delays.
So that would be in the model class itself. Changes in #253 are not at correct location to mitigate the issues.

Best to verify the precision changes before we make the change.
- Local coordinates in m are like good to be in float 32
- Coordinates in lon lat should stay in float64 as that map to m cha

[2021-02-08 17:46] dbekaert opened #254 "Re-run without recompute of delays"
Might be good to have the following behavior in place:
- If the csv file has already been calculated; check if the the stations match.
- if not go and check if the loaded model is large enough
- if not check the original model file
- if not go and error out or with a force download go an fetch a new model.

Currently the behavior is the other way around.
So if a user download the original file and

[2021-02-09 16:15] dbekaert commented on #252
1. do profiling of memory for a single job running over a longer period of time. e.g. ERA5.
   This will allow us to see if we have a leak
2. Ensure garbage collection is working across python and c++
3. How to ensure python release memory for failed jobs?

[2021-02-10 21:07] jlmaurer commented on #242
Dropping in [this webpage](https://stackoverflow.com/questions/47776486/python-struct-error-i-format-requires-2147483648-number-2147483647) with a similar issue.

[2021-02-14 02:40] dbekaert commented on #156
done through #257

[2021-02-14 02:40] #156 closed

[2021-02-16 15:34] dbekaert opened #264 "Ability to catch transient issues by checking if what is generated is as expected"
The ideal is to ensure downloads are succesfull. API's witch checksum test should be evaluated if possible. We should at each write job, check if the file got corrupted or not and error out on it with a clear exit message. This will make it easier for operators during production to see what the problem is and re-execute the code for a certain step to handle a potentially transient issue.

Suggest

[2021-02-16 15:43] dbekaert opened #265 "Add clear steps in the processing"
For ability to re-run:
- start steps
- end steps

  e.g.:
-   download
-   load/crop
-   delays

This will allow the ops team on nisar to easily re-run segments that fail due to transient issues. This is in relation to issue #264 to run at scale.

[2021-02-23 04:29] jlmaurer opened #268 "[BUG] Check the query point extents before processing the weather model file"
**Describe the bug**
Right RAiDER is processing the weather model before checking that the query points are inside the weather model bounding box

**To Reproduce**
Steps to reproduce the behavior:
1. raiderDelay.py --date 20200103 --time 00:00:00 -b 29 39 -123 -113 --model GMAO --download_only -v
2. raiderDelay.py --date 20200103 --time 00:00:00 -b 25 45 -123 -113 --model GMAO

**Expected behavior

[2021-03-01 15:58] dbekaert opened #270 "NCUM model filename issue"
See attached screenshot for the reported error by @kam3545

![Screenshot from 2021-03-01 11-39-46](https://user-images.githubusercontent.com/19240905/109523158-e35ff600-7a63-11eb-86ed-7b57652917e0.png)

[2021-03-01 16:02] dbekaert opened #271 "NCUM in Circle CI"
@kam3545 we would like to add the NCUM model to the circle ci suite.
It would allow us to test for each code change that the model still works and when it fails allows the team to go in and adress the issue.

For this we would need sample files for NCUM.
We do not need to complete model file, a small subset would be sufficient.

[2021-03-02 00:42] kam3545 commented on #271
@dbekaert , I am attaching one sample subset file for your reference.
Last time, Dr. Yang suggested to add filename for pre-downloaded NCUM files.
(_If you’d like to use the pre-downloaded data as I did for the test, you can simply add “filename = ‘.’ + filename” at Line #79 and put the folder “weather_files” one level above RAiDER. That should work temporarily and produce the debugging plots as I

[2021-03-04 18:23] leiyangleon opened #273 "[BUG] second example command (by running the helper command) fails due to losreader problem"
**Describe the bug**
When running the 2nd raiderDelay helper command, it fails due to array dimension error in the losreader.py file.

**To Reproduce**

Steps to reproduce the behavior:

1. Command used
`raiderDelay.py --date 20200103 --time 23:00:00 -b 39 40 -79 -78 --model GMAO --zref 15000 --heightlvs 0 100 200 -v
`
2. Error Output
[code]

[2021-03-04 20:49] jlmaurer commented on #273
@leiyangleon yes I saw this bug last night when I was testing as well. I think I have the fix in place, will push asap.

[2021-03-05 04:46] #268 closed

[2021-03-05 15:32] dbekaert commented on #271
@leiyangleon while adding in the scenario 1 test, could you at the same time look at this for NCUM too?
Similar likely needs a small fix wrt issue #270

[2021-03-05 15:33] dbekaert commented on #270
@leiyangleon Could you look into this one while we add unit test for all models in scenario 1?

[2021-03-05 15:40] dbekaert opened #275 "HRES failure for dates with change in model levels - when file already downloaded"
There seems to be something off with the logic when running:
[code]

Whenever we transition across from old to new the code will error out like this:
[code]

Suspect this might be related to skipping the down-load step.
We should make the update of the number of levels part of the update_a_b_levels function.
I suspect that the number of levels are only correctly set manually in the download routin

[2021-03-05 16:39] dbekaert opened #276 ""out" not defined error for _query_points.h5 after PR"
New issue since last PR.

[code]

[2021-03-05 16:42] dbekaert commented on #276
Even when using --out it does not work. This is not covered through unit tests.

[2021-03-05 17:00] dbekaert opened #277 "Clean up bounds reporting (panda's function is shown)"

[2021-03-05 17:01] dbekaert commented on #254
@jlmaurer for some reason the code does no longer skip and is re-doing all the computations.
This is tested on the latest branch.

[code]

[2021-03-05 18:08] jlmaurer commented on #277
Just need to change the formatting

[2021-03-08 19:58] leiyangleon commented on #273
@jlmaurer the command still fails but with a new error now:

[code]

[2021-03-08 20:11] jlmaurer commented on #273
@leiyangleon This is actually not the same bug, but I can't reproduce the error either way because I'm getting a KeyError in the _load_model_level function in gmao.py. Can you tell me if there is a quick fix for this?

<details>
(RAiDER) jlmd9g@rt01jlmd9g tmp1 % raiderDelay.py --date 20200103 --time 23:00:00 -b 39 40 -79 -78 --model GMAO --zref 15000 --heightlvs 0 100 200 -v
Weather model GMAO is

[2021-03-08 20:14] leiyangleon commented on #273
@jlmaurer not sure what the cause is as I have never seen that error before. Would suggest to try other models. I suspect this is not related to GMAO only as I haven't touched the GMAO code for months...

[2021-03-08 22:24] leiyangleon commented on #270
The issue should be fixed by this PR #281.

[2021-03-08 22:34] leiyangleon commented on #271
The error should be fixed by this PR #281.

However, for using a small dataset in CI test, the current NCMR reader does not support it. Because, similar to ERA-5 and etc., NCMR files (in netCDF format) normally cover the whole globe (lat -90-->90 and lon 0-->360). The indices in lat/lon pixels are determined by using the start/end convention and the bounding box user specifies. The small test data

[2021-03-08 22:39] leiyangleon commented on #271
@kam3545 @dbekaert BTW, the use of the NCMR reader now should be in compliance with other models. Ignore the [temporary method](https://github.com/dbekaert/RAiDER/issues/271#issuecomment-788451119) mentioned before. Just put the pre-downloaded NCMR nc file into `RAiDER/weather_files/` where all other model data are stored, the program will run through without problems.

[2021-03-09 00:20] #276 closed

[2021-03-09 00:21] dbekaert commented on #270
Thanks @leiyangleon.
@kam3545 can you give it a try?

[2021-03-09 00:21] #270 closed

[2021-03-09 00:24] dbekaert commented on #271
@leiyangleon Thanks, reading up on this here now. So ignore my comment in the PR.

@kam3545 Per description from @leiyangleon we would need to fetch the full product to make the test suite works. We generally do not add large files to the repo as this makes it too heavy.  Is there a public website were we could directly fetch a product from for unit testing, e.g. an ftp or another staged area?

[2021-03-09 00:26] dbekaert commented on #275
This is response to PR #278

[2021-03-09 00:46] kam3545 commented on #271
@dbekaert @leiyangleon  Thanks, The changes are working fine for NCMR data. Today, I will check other RAiDER utilities with NCMR and confirm you again.

@dbekaert NCMR data are available with us in a local server (2016 onwards).  I will find out possibility to upload on a ftp server for testing.

Thanks to RAiDER team for supports.
Prashant

[2021-03-09 16:16] dbekaert opened #282 "STATS: RMSE for variogram"
1) Track of RMSE for the variograms
2) have a threshold option when plotting the variogram to eliminate.

[2021-03-09 16:19] dbekaert opened #283 "STATS: track Sig_ZTD"
- Need to check the exact definition of this standard deviation.
- during plotting have a threshold to remove stations that have sig_ZTD larger than it.

[2021-03-09 16:30] dbekaert opened #284 "STATS: local time globally"
Add the ability to make a merged csv file for local time. Have a -+ threshold hour. This does not need to be part of stats, could be in raider combine or so.

[2021-03-10 01:40] jlmaurer commented on #273
@leiyangleon that is odd. Before I was getting this error if I changed my query points without deleting the query points file, which is the issue that should be fixed now. I will investigate further.

[2021-03-10 06:14] kam3545 opened #287 "[BUG]"
**Describe the bug**
Issue in **Compute Zenith delays using a GNSS station list**

**To Reproduce**
Steps to reproduce the behavior:
1. Command used
**raiderDelay.py --date 20180701 --time 00:00:00 --station_file data/xx.csv --model ERA5**
[xx.csv.gz](https://github.com/dbekaert/RAiDER/files/6113575/xx.csv.gz)

2. Error Output
Image attached

**Expected behavior**
This command working fine when do

[2021-03-10 14:20] jlmaurer commented on #273
@leiyangleon I found the issue; I was not using the --heightlvs argument before, which is the source of the bug. The issue occurs [here](https://github.com/dbekaert/RAiDER/blob/c0dd130aa89aef7b6494b551bedc2f1d9b1a0218/tools/RAiDER/dem.py#L54). I will push a fix hopefully later today.

[2021-03-10 23:35] kam3545 commented on #271
@dbekaert Thanks, now I am able to read NCMR files in RAiDER.
Found few more concern in package. Raise another one issue online, soon include others also.
I put sample files on our ftp, details I will email you.

[2021-03-11 04:15] kam3545 opened #288 "GNSS data is stored even is Raider processing period is different"
**Describe the bug**
**Copy same input station file in place of specific date station data**

**To Reproduce**
Steps to reproduce the behavior:
**Command used**
raiderDelay.py --model NCMR --date 20180701 20180731 5 --time 00:00 --station_file /data2/NISAR/DEMO/TEST2/RAiDER/final201807.csv --zref 3000 -v

or
**Example 6. Generate weather model/GNSS residual plots**
raiderDelay.py --model GMAO --da

[2021-03-11 04:15] #275 closed

[2021-03-15 23:04] leiyangleon opened #289 "[BUG] second example command (by running the helper command) failed for HRES after one execution"
**Describe the bug**

The second helper command runs well except the reported bug in #273. However, at the 2nd trial of the same command after running it once, the program failed. The problem does not affect other weather models, i.e. only HRES is affected.

**To Reproduce**
Steps to reproduce the behavior:

1. Command used
`raiderDelay.py --date 20200103 --time 23:00:00 -b 39 40 -79 -78 --model H

[2021-03-16 00:36] kam3545 commented on #288
@dbekaert please see above issue.

[2021-03-16 00:36] kam3545 commented on #287
@dbekaert please see above issue.

[2021-03-16 00:51] dbekaert commented on #287
@jlmaurer could you try to replicate this issue?

[2021-03-16 15:08] jlmaurer commented on #289
Note: only for HRES, other models are fine.

[2021-03-16 15:49] jlmaurer opened #293 "[BUG] Heights are not currently being consistently handled throughout the code"
- There are ellipsoidal and geoidal heights currently being used without any conversions between
- Inputs are likely to always be ellipsoidal, while weather models are typically related to the geoid
- Will difference be significant enough to fix given the range of variations between the geoid and WGS-84 ellipsoid?

[2021-03-17 04:46] dbekaert commented on #283
thanks @sssangha via #291

[2021-03-17 04:46] #283 closed

[2021-03-17 04:46] dbekaert commented on #282
thanks @sssangha via #291

[2021-03-17 04:46] #282 closed

[2021-03-17 23:02] cmarshak commented on #277
I want to confirm I was asked to also use gdal/rasterio to avoid opening the entire netcdf array in memory.

[2021-03-17 23:12] dbekaert commented on #277
Does not need to be GDAL, if there is existing array functionality to get the bounds rapidly.
Note that variable names in the datasets will change depending on the model.

[2021-03-23 00:55] leiyangleon commented on #289
closing this as it has been solved by PR #285.

[2021-03-23 00:55] #289 closed

[2021-03-30 15:54] leiyangleon commented on #248
closing this as has been solved by PR #285.

[2021-03-30 15:54] #248 closed

[2021-03-30 15:56] leiyangleon commented on #271
closing this as has been solved by PR #297.

[2021-03-30 15:56] #271 closed

[2021-03-31 02:11] #251 closed

[2021-04-07 01:35] #287 closed

[2021-04-08 02:12] dbekaert opened #301 "ecmwf download failure"
The historic ECMWF data download is not given the right number of levels
should be 92 not 137.

[code]

[2021-04-12 21:26] dbekaert commented on #301
Adress in #302

[2021-04-12 21:27] dbekaert opened #303 "Bounds check bug"
Do not think we are checking the bounds correctly.
We should double check center versus top left corner.

A file already download and then a re-run fails:

[code]

[2021-04-12 22:27] #301 closed

[2021-04-13 17:58] dbekaert commented on #303
added under PR #304

[2021-04-13 17:58] #303 closed

[2021-04-20 14:59] jlmaurer commented on #238
I think this can be closed now.

[2021-04-20 14:59] jlmaurer commented on #277
I think this can be closed now.

[2021-04-21 01:45] dbekaert commented on #288
@kam3545 from your email are you suggesting this issue goes away when you do not specify an "interval" for the temporal range?

[2021-04-21 01:50] dbekaert commented on #288
@jlmaurer Can you share your thoughts?
This item is holding back @kam3545 for NCUM analysis.

[2021-04-21 16:13] jlmaurer commented on #288
@dbekaert @kam3545 I'm running the GMAO example command above for the testing sample GNSS data set and I'm not currently getting any errors. The code is still running so it may yet break; however, it appears to be creating and writing the files just fine. Perhaps make sure to pull the latest branch @kam3545 and try again?

[2021-04-22 07:57] kam3545 commented on #288
@jlmaurer & @dbekaert   Agree, the codes are working fine, I am using recent version of RAiDER. Please check for same issue using below commands.

1. Download sample data of GNSS using below commands
**raiderDownloadGNSS.py --download --out products --date 20200101 20200131 --returntime '00:00:00' -b '30 40 -80 -70'**

2. Run Delay calculation with time loop using below command
**raiderDelay.py --

[2021-04-22 18:32] jlmaurer commented on #288
@kam3545 ah I see what the problem is. The file that gets generated with the GNSS delays has all the dates in it, so when you do the calculation in RAiDER you end up simply concatenating all the delays for (what is actually) one day only to all of the dates available in the file. So, products/UNRcombinedGPS_ztd.csv contains multiple dates. You should use instead the file products/gnssStationList_o

[2021-05-28 17:46] dbekaert opened #308 "proj6 and gdal3"
@bbuzz31 @jlmaurer could we check how raider is impacted for this?
 https://github.com/isce-framework/isce2/pull/279#event-4808095048

[2021-05-28 19:41] jlmaurer commented on #308
@dbekaert RAiDER definitely assumes GDAL3 at the moment and all the syntax assumes this.

[2021-06-08 13:03] jlmaurer commented on #236
This was fixed by #305

[2021-06-08 13:03] #236 closed

[2021-06-08 16:43] dbekaert commented on #288
@jlmaurer We write out a new file if i remember the code correctly where we combine the GNSS and the Raider outputs. I suggest we only copy over the relevant gnss data in the file upon creation that intersects with the raider data time-period constrains, period sampling, and utc.

[2021-06-08 16:45] #238 closed

[2021-06-08 16:45] #252 closed

[2021-06-08 16:46] dbekaert commented on #125
@jlmaurer can this be closed?

[2021-06-08 16:47] #48 closed

[2021-06-08 16:49] jlmaurer commented on #125
Yep I think so!

[2021-06-08 16:49] #125 closed

[2021-06-15 15:36] jlmaurer commented on #293
Need to check what the vertical datum is for each weather model
ECMWF - EGM96

[2021-06-15 15:52] dbekaert commented on #293
So two items here:

1) weather models come with its own native projection (horizontal proj). Both pressure and model levels compute geopotential which would be respective to the geoid. The geoid depends on what is assumed by the model.

"ECMWF data is referenced in the horizontal with respect to the WGS84 ellipse (which defines the major/minor axes) but in the vertical it is referenced to the Geoi

[2021-06-15 15:58] dbekaert commented on #288
take unique value of station list prior to running delay calculation in RAiDER.

[2021-06-15 15:58] #284 closed

[2021-06-15 16:07] jlmaurer opened #309 "Add fixed height levels for the rest of weather models"
Finished:
- ERA-5
- ERA-5T
- HRES

Still needed:
- HRRR
- NCMR
- GMAO
- MERRA-2

[2021-07-06 15:19] jlmaurer opened #310 "Need to handle left-looking LOS"
Code reference:
https://github.com/dbekaert/RAiDER/blob/3dca5aa8de0a1750cc5aac410c00e5446d38c718/tools/RAiDER/losreader.py#L253

Currently no explicit handling of left-looking sensors; incidence angle would need to be negative?

[2021-07-13 15:42] dbekaert commented on #293
@cmarshak could you cover this once back? This is synergistic with the ARIA work.

[2021-07-19 16:06] cmarshak commented on #293
Ok - we can figure out what's best for this repo.

I worked with David on this for ARIA/ACCESS and it is still very much a work in progress (or maybe it will just be cut/paste for these types of issues): https://github.com/aria-jpl/dem_stitcher

There are things that can be adapted here - likely these two pieces:

read geoid directly from the link above: https://github.com/aria-jpl/dem_stitcher/bl

[2021-08-03 15:28] dbekaert opened #315 "Confirm model levels and pressures levels is computed correctly for all models"

[2021-08-03 15:29] dbekaert commented on #308
@jlmaurer will add documentation before this can be clsoed

[2021-08-03 15:49] jlmaurer commented on #293
Here's the code line where the DEM gets downloaded:
https://github.com/dbekaert/RAiDER/blob/66de8814d0ba010f6c3378bf7bb8a8a1f64e5edc/tools/RAiDER/dem.py#L255

Note that it gets chunked if needed.

[2021-08-07 04:20] #79 closed

[2021-08-07 04:20] #122 closed

[2021-08-07 04:20] #273 closed

[2021-08-31 15:16] jlmaurer commented on #293
#318 addresses the DEM aspect of this and puts everything in WGS-84 ellipsoidal. Need to add vertical datums to weather model class definitions and convert those to the ellipsoid.

[2021-08-31 15:25] dbekaert commented on #310
NISAR is a left looking instrument. We should circle back to this and address it.

[2021-08-31 15:27] dbekaert commented on #265
nice to have not essential

[2021-08-31 15:27] #265 closed

[2021-08-31 15:31] dbekaert commented on #315
@kam3545 can you a test over a small region to verify the mean biass issue has been resolved?

[2021-08-31 15:39] dbekaert commented on #293
@jlmaurer Can you track the projection and vertical datum in each of the weather models, and add a note here for reference of @cmarshak how he can access it within the code.

@cmarshak Can you based on the model vertical datum add in a correction for it to bring the vertical datums in sync with the DEM?

[2021-08-31 15:59] dbekaert commented on #138
Take 1by 1 degree tiles:
- Europe (Holland flat, wet)
- Tibet (steep and large terrain, dry)
- Southern Mexico (Coast, tropical)
- Southern CA (terrain, dry)

**Procedure**
1) Go and figure out the dates to be request.
2) use the dates, 6 UTC, and 1 degree bbox to trigger gacos using tiff option
3) use gacos tiff to define Raider AOI
4) trigger raider for the dates, 6 utc, model levels, and using

[2021-09-05 03:35] kam3545 commented on #315
Hi @dbekaert
I used below commands with new RAiDER codes after update repo and environment

raiderDownloadGNSS.py --out products_ex2 --date 20210517 --returntime '18:00:00' --bounding_box '32 42 -125 -114' --cpus all

raiderDelay.py --model NCMR --date 20210517 --time 18:00 --station_file ./products_ex2/UNRcombinedGPS_ztd.csv --zref 30000 -v

I found attached error

Thanks
[log.TXT](https://github

[2021-09-07 02:10] jlmaurer commented on #308
Our current situation with PROJ, pyproj, and GDAL:
- Currently GDAL3 is required by the environment file. However, as best I can tell there is no GDAL3-specific code used in the repository. I believe we imposed GDAL3 for the purpose of being able to read and write HDF5/NETCDF files; however, we are not currently using GDAL to read or access those files in the code itself (not including dependencie

[2021-09-07 02:12] jlmaurer commented on #308
#319 addresses the pyproj dependency issue.

[2021-09-07 04:50] sssangha commented on #138
I am waiting on GACOS data, but to summarize I've requested data for the 1st of each month of 2019 (e.g. 2019-01-01, 2019-02-01, etc...) across the following defined 1x1 degree AOIs:

1. Netherlands
![Screen Shot 2021-09-06 at 9 44 16 PM](https://user-images.githubusercontent.com/13227405/132286036-a1d23122-1f73-4273-a356-7aba894c47bc.png)

2. Southern Tibet
![Screen Shot 2021-09-06 at 9 47 00 PM]

[2021-09-11 00:20] kam3545 commented on #315
Hi @jlmaurer and @dbekaert
New codes are working at global calculation, but I found larger errors as compared to the last version for NCMRRF/NCUM model.
Thanks

[2021-09-14 15:33] jlmaurer commented on #308
This was actually addressed by #323

[2021-09-14 15:38] dbekaert commented on #315
@kam3545 Can we confirm that NCUM product structure identical to the ECMWF model? I understood its model is a modification of the ECMWF model hence; similar variable definitions etc.

[2021-09-14 16:42] #288 closed

[2021-09-15 11:38] jlmaurer commented on #310
This shouldn't be an issue, according to Heresh. The only part of the code this would affect is calculating unit look vectors from heading and incidence angle, and the heading should account for the look direction. Thus the existing code should work fine. The other part of the code uses the satellite state vectors and should also work fine.

[2021-09-15 11:38] #310 closed

[2021-09-15 22:44] kam3545 commented on #315
@dbekaert Please provide me a sample file of ECMWF HRES to identify changes in NCUM vs ECMWF model's variables. Both centers are using unified model (UM), definitely with large differences in implementation level.

[2021-09-21 13:39] jlmaurer opened #324 "Update HRRR weather model archive location to new NOAA AWS API"
The HRRR weather model has (finally!) started to be [archived by NOAA](https://registry.opendata.aws/noaa-hrrr-pds/).[ Here's a link](https://home.chpc.utah.edu/~u0553130/Brian_Blaylock/hrrr_FAQ.html) to the original University of Utah repository with the explanation of the new data systems. NOAA is storing the GRIB files on AWS, while Brian Baylock's group at UU is storing them as [ZARR files](ht

[2021-09-21 16:05] #309 closed

[2021-09-21 20:39] #308 closed

[2021-10-03 00:23] EJFielding opened #327 "[BUG] Python crash in test/test_interpolator.py"
**Describe the bug**
Test program `test/test_interpolator.py` crashes Python

**To Reproduce**
Steps to reproduce the behavior:
1. py.test test/
2. output:
[code]

**Expected behavior**
I expected the test to run and at least provide Python traceback instead of crash.

**Screenshots**
Not applicable.

**Desktop (please complete the following information):**
 - RAiDER git tag: [e.g. git show --summ

[2021-10-03 03:30] EJFielding commented on #327
My other Mac MacOS Catalina does not crash. I did the same Conda installation on both. Very strange.

[2021-10-05 15:11] EJFielding commented on #327
I found this issue is likely to be due to a bug in parallel threads on MacOS for Python:
https://bugs.python.org/issue30385

[2021-10-06 01:20] #81 closed

[2022-02-16 18:19] espiritocz opened #333 "[BUG] found 3 issues"
hi, i got to some issues, hope those notes will help improve the development of RAiDER:

## Issue 1: RAiDER expects non-existing function of dem_stitcher:
in dem.py:
from dem_stitcher.stitcher import download_dem as download_stitched_dem
there is no such function in currently available dem_stitcher (installed from conda-forge, but should equal github repository codes)

## Issue 2: some bug in use

[2022-02-16 19:29] scottstanie opened #335 "[BUG] version 2.0 of dem-stitcher fails to import"
**Describe the bug**
Version 2.0 (and possible 1.0) of `dem_stitcher` does not work with Raider. There is no more `download_dem` in the `stitcher.py` module:

https://github.com/ACCESS-Cloud-Based-InSAR/dem-stitcher/blob/dev/dem_stitcher/stitcher.py

[code]

This is also causing tests to fail on the CI: https://app.circleci.com/pipelines/github/dbekaert/RAiDER/720/workflows/1d9eacf7-82e7-4313-b576

[2022-02-16 20:26] scottstanie opened #336 "[BUG] GMAO dates earlier than 12/2017 fail with Pydap>=3.3.0"
**Describe the bug**
I was creating a bunch of Line of sight-projected maps with GMAO using `raiderDelay.py`. The code works for Pydap version 3.2.1.
They seem to have changed something so that it fails to grab all the data we need, and it leads to this traceback:

[code]

Here's the data contained in an older file or with version 3.2.1:
[code]

But the newer ones created with Pydap 3.3 have a lot

[2022-04-08 08:30] mohseniaref-InSAR opened #338 "raiderCombine.py : Missing column provided to 'parse_dates': 'Datetime'"
**Describe the bug**
I have tried to reproduce similar output of following jupyter notebook but I face follwoing error
https://github.com/dbekaert/RAiDER-docs/blob/master/notebooks/raiderStats/raiderStats_tutorial.ipynb
when I check UNRcombinedGPS_ztd.csv file, I can only find column Date or time but As far as I concerned the error is related to
dfz = pd.read_csv(ztdFile, parse_dates=['Datetime'])

[2022-05-02 02:34] jlmaurer commented on #333
Hi @espiritocz thanks for these comments! We are working on them; #339 should fix issue 1, #332 should fix issue 2. issue 3 is one we haven't addressed yet, so thanks for the suggestion! Hopefully these will get integrated soon.

[2022-06-09 18:07] the-garlic-os opened #341 "[cleanup] Redo test scenarios"
**Describe the bug**
Per @jlmaurer.
Test scenarios 0 and 3-8 are incomplete, and while test scenarios 1 and 2 are working, they are end-to-end which has proven to make
them finicky. At this point, it may be best if we remade the test scenarios to fix the lack of tests of scenarios 0 and 3-8 and fix the problems with scenarios 1 and 2.

[2022-06-11 03:47] jlmaurer commented on #336
Leaving myself a note that I've seen this before but didn't tie it specifically to a pydap version. Will try to reproduce.

[2022-06-11 03:48] jlmaurer commented on #335
Closing as currently is solved by #342

[2022-06-11 03:48] #335 closed

[2022-06-13 02:23] the-garlic-os commented on #336
I'm trying to reproduce the error but I'm getting stuck on where to get the input files. How can I get the los, dem, and latlon files to test this?

[2022-06-13 17:00] jlmaurer opened #345 "Conda package for RAiDER"
Hi all,

I'm prepping for developing a conda package for RAiDER. This is needed to address a lot of install problems users have been reporting. However, there are a few items that need cleaned up prior to building the recipe. The main one is pip dependencies of RAiDER, as these are not explicitly supported by conda recipes, as noted in [this stack overflow issue](https://stackoverflow.com/question

[2022-06-13 17:06] cmarshak commented on #345
For dem-stitcher, we used `rasterio`. It has some issues in 3.10. I have found that `PyPI` tends to be slightly more up-to-date than the `conda-forge` channel (this could be out of lack of experience with `conda`).

If you put everything in `conda-forge` just make sure to use 3.3* `gdal` as there is currently is unexpected behavior in `3.4` (see [1]). Here is an example [env](https://github.com/AC

[2022-06-15 21:19] scottstanie commented on #336
ah shoot, let me try to see how I can upload them.
The area was over west Texas (approximate bounding box (-105, 30, -103, 32) ), and I assume that the lat/lon/los data won't matter because it doesn't get to the actual ray tracing part. But I can re-find these files to reproduce more easily

[2022-06-30 17:14] jlmaurer commented on #336
@the-garlic-os I think this issue may not be tied to the specifics of the input data; I think I've had this happen with just a bounding box input. You could try that and see.

[2022-07-01 20:53] the-garlic-os opened #351 "[cleanup] do not use bare 'except'"
**Describe the bug**
As part of my [once-over](https://github.com/dbekaert/RAiDER/pull/346) ([twice-over](https://github.com/dbekaert/RAiDER/pull/349)) of the repository with flake8, I found several issues that weren't trivial to fix. This issue is for [flake8 E722: "do not use bare 'except'"](https://www.flake8rules.com/rules/E722.html), where a try-except block does not specify the exceptions to

[2022-07-01 21:04] the-garlic-os opened #352 "[BUG] undefined variables"
**Describe the bug**
flake8 found some places where a variable is referred to but never defined ([flake8 F821](https://www.flake8rules.com/rules/F821.html)). This issue lists those places so we can figure out what's gone wrong.
An interesting thing to note is if runtime errors have not been encountered about these variables, it may indicate the code that they lie is never reached, or at least that

[2022-07-01 21:09] the-garlic-os opened #353 "[BUG] test_models_3c asserts True"
**Describe the bug**
`test.test_checkArgs.test_models_3c` appears unused or unfinished; it ends in `assert True`, so it effectively doesn't test anything.

**To Reproduce**
Steps to reproduce the behavior:
1. Static analysis

**Expected behavior**
Tests should assert something other than `True`

**Desktop**
[code]
Windows 10 Pro version 21H2 build 19044.1766

[2022-07-01 21:26] the-garlic-os opened #354 "[feature] WRF weather model"
**Describe the bug**
The WRF weather model implementation at `tools.RAiDER.modes.wrf.py` is unfinished.

[2022-07-08 04:35] ngohikennyyue opened #355 "[BUG] Downloaded Weather Model (.nc) is not consistent with the bounding box"
**Describe the bug**
I have multiple occasion that I download the weather model (WM) using `raiderDelay.py` with a bounding box or GPS station parameter. It does not have problem throughout the download process. However, when I need to extract values from multiple dates in the AOI, there are some mismatching in the shape (WM grid nodes). x and y dimension is not consistent. z level is consistent w

[2022-07-29 07:08] jhkennedy commented on #345
With conda-forge/staged-recipes#19470 and #350 merged, RAiDER is very close to ready for conda-forge!

What's left is:
- [ ] finish #339 so that RAiDER depend on `dem_sticher` v2.3.0 or later as that's the only version available on conda-forge:
[code]
- [ ] update `[version.txt](https://github.com/dbekaert/RAiDER/blob/dev/version.txt)` and tag a new (pre-, or beta, or whatever) release as we need

[2022-08-04 21:28] jlmaurer commented on #345
@jhkennedy thanks! I was about to issue a PR to use the new conda version of dem-stitcher, but local testing wasn't working for me. I got confused until I realized that I'm on my new mac, and I'm guessing dem-stitcher doesn't yet support the arm processors; have the same issue with isce. Any idea if this is a conda thing that will eventually be fixed or something that the maintainers have to take

[2022-08-05 04:16] jhkennedy commented on #345
@jlmaurer there's a bit of work to do to migrate packages to arm64. Details are here:
https://conda-forge.org/blog/posts/2020-10-29-macos-arm64/

We'll have to migrate `dem-sticher` (and ISCE) and any other packages that haven't been migrated yet. I recently did it for [autoRIFT](https://github.com/conda-forge/autorift-feedstock/pull/42) and it was easier than expected overall, but I'm still not *

[2022-08-16 22:15] jlmaurer commented on #345
@jhkennedy I just tagged a new release and updated the version.txt file. You should be able to start on the recipe now. Thanks!

[2022-08-16 23:54] jhkennedy commented on #345
I've started the PR here:
https://github.com/conda-forge/staged-recipes/pull/20100

@cmarshak @jlmaurer if you could comment on it you're willing to be a maintainer, that'd be great.

[2022-09-06 02:02] jlmaurer commented on #345
hi @dbekaert @jhkennedy @cmarshak @bbuzz31 @sssangha I have successfully installed and run RAiDER from conda-forge! Thanks a ton @jhkennedy for your help getting this one going. @dbekaert I'll be working on a PR to update the front-facing readme.

[2022-09-08 22:28] jhkennedy opened #358 "Empty `tools` python module artifact in installation"
The conda-forge reviewer had [this suggestion](https://github.com/conda-forge/staged-recipes/pull/20100#pullrequestreview-1090694502) which is worth addressing here:

This appears to be an artifact of how the package and setuptools is setup (not intentional) and likely driven by how the python package is structured and this line:
https://github.com/dbekaert/RAiDER/blob/dev/setup.py#L99

[2022-09-08 22:32] jhkennedy opened #359 "Transition "scripts" to entry points/console scripts"
The conda-forge reviewer had [this suggestion](https://github.com/conda-forge/staged-recipes/pull/20100#pullrequestreview-1090694502) which is worth addressing here:

I would also highly encourage this as it makes RAiDER more portable and easier to maintain. For reference, I discussed a lot of these issues the effort to get MintPy on conda-forge here: https://github.com/insarlab/MintPy/issues/652

[2022-10-02 03:04] jlmaurer commented on #345
Closing this as conda channel is open!

[2022-10-02 03:04] #345 closed

[2022-10-25 22:02] #358 closed

[2022-10-25 22:02] #359 closed

[2022-11-07 18:13] piyushrpt opened #372 "[BUG] Expand yaml parser capabilities"
**Describe the bug**
A number of fields in the yaml file need to be propagated to the actual processing. These currently only use default values in the `DEFAULT_DICT` in `RAiDER.cli.raiderDelay`

**Additional context**
Here are fields that are not propagated as far as I can tell:

1. `cube_spacing_in_m` : Output cube spacing in meters. The documentation should also say that this is converted to de

[2022-11-07 18:17] piyushrpt opened #373 "[BUG] Handle dateline crossing via `RAiDER.llreader.AOI` and interpolators"
**Describe the bug**
Providing bounding boxes or lat/lon files that cross the dateline can break model loading and other interpolation operations.
Same can happen with interpolators if the underlying projection system of the weather models is `EPSG:4326`

**Additional context**
It might be good to have logic to determine if AOI crosses dateline and carry it as a flag in the `AOI` object that is pa

[2022-11-07 18:27] piyushrpt opened #374 "[BUG] Determine extent of padding based on workflow"
**Describe the bug**
Raytracing approach might require significantly more padding that computing zenith delays or projecting zenith delays using LOS angles.  This padding extent depends on the highest level of weather model under consideration as well as orientation - looking from west / east etc.

**Additional context**
1. It might be simplest to ignore east/west differences and pad based on high

[2022-11-07 22:56] piyushrpt commented on #372
Both `cube_spacing_in_m` and `look_dir` have been addressed in #375
But the grouping of these input arguments might need revisiting

[2022-11-07 22:56] #372 closed

[2022-11-08 18:47] cmarshak opened #376 "[BUG] GMAO weather model issue with YML config file"
**Describe the bug**
There seems to be an issue formatting the GMAO weather model.

**To Reproduce**

Navigate to an empty directory. Create a subdirectory called `weather_files`.

[code]
with `test.yml` as:

[code]

The error is:
[code]

**Expected behavior**
Not sure

[2022-11-08 18:49] cmarshak commented on #376
[code]
and

[code]

[2022-11-08 18:51] cmarshak commented on #376
Also note the warning `WARNING: Rounded given hour from  22 to 21`.

[2022-11-08 19:43] cmarshak opened #377 "[BUG] ERA-5 Issue after Download with YML file"
**Describe the bug**
[code]

**To Reproduce**

Navigate to empty directory and create `weather_files` subdirectory. Then, run:

`raiderDelay.py test.yml`

with `test.yml` as

[code]

See #376 for details on environment.

[2022-11-08 20:00] cmarshak opened #378 "[BUG] Sample YML in Docs is not working"
**Describe the bug**

`raiderDelay.py test.yml` with `test.yml` as:

[code]

per: https://github.com/jlmaurer/RAiDER-docs/blob/new_branch/notebooks/RAiDER_tutorial/raider_example_1.yaml

gives
[code]

[2022-11-08 20:21] piyushrpt commented on #377
I would include `output_projection` and work of the PR that is open. These issues have been addressed by the changes in the PR I think.

[2022-11-08 21:04] cmarshak commented on #377
Yes, using `feat/cube` branch fixed it with output projection.

[code]

And to confirm @piyushrpt , I get a cube with `hydro` and `wet` 3d cube from the above.

[2022-11-08 21:07] cmarshak commented on #376
Per #377 - I updated the yml file, but the same error persisted. I am including the updated yml file here for posterity.

[code]

[2022-11-08 21:14] #377 closed

[2022-11-09 17:25] cmarshak opened #381 "[BUG] Orbit and raytracing doesn't work"
**Describe the bug**
[code]

This is `test-orbit.yml` (the aoi is over Europe and intersects the SLC linked below):

[code]

The error is this:
[code]
**To Reproduce**

I downloaded the orbit using this https://github.com/scottstanie/sentineleof

[code]

The relevant SLC intersecting the bounding box is here: https://search.asf.alaska.edu/#/?zoom=6.385&center=-1.101,51.242&resultsLoaded=true&granu

[2022-11-09 17:42] jlmaurer commented on #378
Closing this here and also updated at [RAiDER-docs](https://github.com/dbekaert/RAiDER-docs/pull/25)

[2022-11-09 17:42] #378 closed

[2022-11-09 17:52] piyushrpt opened #382 "[BUG] Option for NaN Checks"
**Describe the bug**
- Add an option to ensure that none of the computations result in NaNs
- This is primarily meant for production to prevent results with NaNs being shipped
- If a NaN is encountered, raise an error to let user know that sufficient padding has not been provided for weather model or possibly wrong inputs such as the orbit file has been provided.

[2022-11-09 22:35] #376 closed

[2022-11-10 05:30] jlmaurer commented on #381
this should have been fixed by #383

[2022-11-10 05:36] dbekaert commented on #324
addressed in PR #379

[2022-11-10 05:36] #324 closed

[2022-11-10 05:37] dbekaert commented on #242
this is all refactored now

[2022-11-10 05:37] #242 closed

[2022-11-10 19:42] cmarshak opened #387 "[BUG] Confirming Edge Effects"
**Describe the bug**
There are edge effects when using the ray-tracing. This may be correct but might be worth explaining here to non-expert. Or it might have to do with interpolating 0s outside of the area of interest. Not sure.

Here is a screenshot of hydro @ 5000 meters in QGIS. All levels have this effect (see product below).

<img width="662" alt="image" src="https://user-images.githubuserco

[2022-11-10 19:55] jlmaurer commented on #387
@cmarshak thanks! When you ran that example did it generate a couple pdf files? It looks like the verbose option is selected, so it should have generated some debugging plots that will help with debugging. There should be one that shows p/t/e and one with delays.

[2022-11-10 20:08] piyushrpt commented on #387
I suspect this has to do with padding. What is the imaging geometry? Right looking descending? I think what you are seeing is that parts of the ray fall outside the bounds of the weather model - and being set to zero. #374

But good to see that ray tracing with ERA-5 is working

[2022-11-10 20:13] cmarshak commented on #387
Here is the reference SLC that I used: https://search.asf.alaska.edu/#/?zoom=6.385&center=-1.101,51.242&resultsLoaded=true&granule=S1B_IW_SLC__1SDV_20211102T062159_20211102T062227_029405_03825F_77F9-SLC&searchType=List%20Search&searchList=S1B_IW_SLC__1SDV_20211102T062159_20211102T062227_029405_03825F_77F9

Yes, raytracing is working and doesn't take long to complete for ERA-5. Maybe a minute?

[2022-11-10 20:18] piyushrpt commented on #387
Thanks that confirms the issue in #374 . Since this is Right-looking Descending scene - the rays drawn from near range to the satellite exit the extent of the staged weather model before hitting the max troposphere height and hence get nans from the interpolator for those heights (replaced by zeros during integration)

[2022-11-11 02:47] piyushrpt opened #388 "[BUG] Verify HRRR constants"
**Describe the bug**
While current HRRR reader works, the units of fields like temperature, pressure and geopotential height can be different from that used by ECMWF. Read up documentation, test against ERA5 and confirm that the reader scales input data correctly and uses correct constants.

[2022-11-11 23:11] #387 closed

[2022-11-11 23:11] #374 closed

[2022-11-15 00:30] cmarshak opened #391 "Question about multiple orbit files"
For particular SLCs, could multiple orbit files be required? In the event two orbit files are needed, can the yml parser still be used?

See #381 for a sample yaml which I am using.

[2022-11-15 00:31] #381 closed

[2022-11-15 00:39] piyushrpt commented on #391
It is highly unlikely that multiple orbit files will be needed for an SLC. The orbit products themselves usually have several minutes of overlap.  If this were needed to be done for some strange reason - this should reside in isce3; something similar to https://github.com/isce-framework/isce2/blob/bb4d3b545b0400a9c15e5dd7b6f1cb577f77bfa2/contrib/stack/topsStack/baselineGrid.py#L35

[2022-11-15 00:41] #391 closed

[2022-11-15 20:45] fuklokchan opened #393 "Docker image download issue"
When I try the suggested command:
docker pull ghcr.io/dbekaert/raider:latest

on UNIX machine with CENTOS

I got the message:
Error response from daemon: manifest unknown

[2022-11-15 20:54] jhkennedy commented on #393
@fuklokchan this is currently expected. The convention typically used for docker tags is `latest` == "latest stable release". The docker build was added recently in #371, and there hasn't been a release sense then, so there is no `latest` tag.

You can grab the `test` tag, which is built off the most recent merge to develop like:
[code]

so by convention:
* merge to `main` branch -> `latest` tag,

[2022-11-18 19:55] dbekaert opened #398 "Ray-tracing using Cube option"
Just having a brief meeting with @jlmaurer and he is unclear if ray-tracing using a 3D cube is supported as input.
Can you confirm.

[2022-11-18 20:27] dbekaert opened #399 "GNSS download options tested and document updated"
The downlaod of the GNSS data is broken.
We should also check for the documentation
Urgent, as this is used by SWOT for validation

[2022-11-18 20:31] dbekaert commented on #388
@bbuzz31 can you make the debug plot for each of the models. Can you report on findings and let us know which ones failed.

[2022-11-18 20:31] dbekaert commented on #388
- hres, era5 ; era5t, merra2, gmao, hrrr, (ncmr)

[2022-11-18 22:53] bbuzz31 commented on #388
- ERA5 and GMAO agree
- HRRR looks to be inverted in height and the x/y units are weird (probably local projection rather than WGS84?)
- MERRA-2 download seems not to be working (retrying)
- HRES (pending credentials)
- NCMR (todo)

- ERA5T is not supported (RAiDER outputs this message)
- ERA5I errors out (Something with edge effects: `ERROR: shape mismatch: objects cannot be broadcast to a single

[2022-11-18 22:55] bbuzz31 commented on #388
![Screen Shot 2022-11-18 at 14 54 11](https://user-images.githubusercontent.com/15522503/202816455-b657f67a-0ba8-4474-847a-866f36a82ebd.png)

![Screen Shot 2022-11-18 at 14 54 22](https://user-images.githubusercontent.com/15522503/202816476-9da03152-88fc-488a-ba81-c392daed286e.png)

![Screen Shot 2022-11-18 at 14 54 28](https://user-images.githubusercontent.com/15522503/202816485-10c310c5-9d85-420

[2022-11-19 03:55] piyushrpt commented on #388
HRES probably could be inverted in height, when downloaded from source. This was one of the steps that I was trying to reconcile with ERA5 when subsetting spatially. The checks for whether to flip arrays can be found here:

https://github.com/dbekaert/RAiDER/blob/eec61ab4c2e57c221e0e2088a9d4fc77e872ae31/tools/RAiDER/models/hrrr.py#L191

And X and Y are in the coordinates of the weather model itsel

[2022-11-19 03:58] piyushrpt commented on #398
Do you mean LOS cube? Yes that is not supported yet. We don't have the flow for loading the cube into the same format as `makeInterpolators`. Once this is done, changes should be minor.

[2022-11-19 04:14] piyushrpt commented on #398
Specifically, This specific line

https://github.com/dbekaert/RAiDER/blob/eec61ab4c2e57c221e0e2088a9d4fc77e872ae31/tools/RAiDER/delay.py#L616

Will be replaced by a call to  `inc_hd_to_enu` and `enu2ecef` like here:

https://github.com/dbekaert/RAiDER/blob/eec61ab4c2e57c221e0e2088a9d4fc77e872ae31/tools/RAiDER/losreader.py#L186

Rest of the computation remains the same

[2022-11-22 01:31] xhuang-jpl opened #403 "Errors using DEM"
try to run the program using the DEM, there is an error coming out "No such driver registered: %s, b''nc". The output is the netCDF format. please see more in the attached figure. The yaml file is also attached.  Have tested all the tiff file, which are all readable by GDAL. I could share the DEM etc file if you need to test. Thank you

![image](https://user-images.githubusercontent.com/118782850/

[2022-11-22 02:46] jlmaurer commented on #403
@xhuang-jpl thanks for posting the yaml file! The issue is that you have specified the output file format as NETCDF, but [writing netcdfs is presently banned](https://rasterio.readthedocs.io/en/latest/api/rasterio.drivers.html) in rasterio. Try changing `raster_format` to `GTiff` for example to see if that runs. We should probably raise an error when a user passes an invalid format.

I noticed  th

[2022-11-22 17:00] bbuzz31 opened #404 "Automated support for ARIA/HYP3 products"
We need a wrapper that reads a GUNW and generates the correct config file.

From the GUNW we would fetch:
- wavelength
- time
- reference and secondary dates
- cubes for los
- orbit if needed [download on fly?]
- left or right looking

The user input would then just be:
- zenith, slant, or slant ray-tracing [possibly force one?]
- model type
- output format

[2022-11-22 17:27] dbekaert commented on #404
@jlmaurer @bbuzz31 suggest we capture the proposed implementation here too.

[2022-11-22 17:36] jlmaurer commented on #404
@dbekaert @bbuzz31 `prepARIA` gets us partway there already, but one thing we might consider is the use of a __main__.py to have a single CLI interface with run_steps specified instead of having multiple CLI programs. I started implementing one (#405) and I think with the exception of raiderStats it would be pretty straightforward. This is also @jhkennedy 's idea. This would make things potentiall

[2022-11-22 17:40] dbekaert commented on #388
Probably for this plot what would be nice is that just for plotting purposes we enforce a projection, as we asser thtne that all meta-data with the variables are also correct. e.g. force it in lon lat; this makes the HRRR go from its native projections to wgs84.

@bbuzz31 can you confirm you are looking into:
-  the HRRR vertical issue? lines: https://github.com/dbekaert/RAiDER/blob/eec61ab4c2e57c

[2022-11-22 17:45] dbekaert commented on #404
Can you add more information as to what the expected calls would look like
under that scenario?

On Tue, 22 Nov 2022 at 09:36, Jeremy Maurer ***@***.***>
wrote:

[2022-11-22 18:23] xhuang-jpl commented on #403
Thank you @jlmaurer , I have revised the format as the GTiff, seems that no issues about the driver, but there is one more error comes out, please see attached. Thanks again
<img width="897" alt="image" src="https://user-images.githubusercontent.com/118782850/203392093-4cec9996-3060-4c7e-93d1-02526ab60e2c.png">

[2022-11-22 19:08] bbuzz31 commented on #403
This is fixed in my new branch: https://github.com/dbekaert/RAiDER/pull/402

[2022-11-22 20:43] cmarshak commented on #404
Also, based on a discussion with @jhkennedy today, its likely there will be a few workflows that will need to be supported possibly by a CLI.

As a preference, rather than writing a lot of control flow, it might be easier to have different entry points within a CLI to distill the script as much as possible and make raider's library shine and illustrate how others can generate their own workflows f

[2022-11-22 22:33] bbuzz31 commented on #388
Looks like Jeremy fixed issue in #406 and yup, HRES works

[2022-11-22 23:08] xhuang-jpl commented on #403
tested, seems working. Thank you @bbuzz31. in addition, is the **los** the incidence angle? Thanks

[2022-11-22 23:52] xhuang-jpl commented on #403
must the dem be in WGS84 projection? I tested a dem in UTM projection along with its lat and lon file. Here is the error:
![image](https://user-images.githubusercontent.com/118782850/203444117-d649b000-6495-4964-9c66-8f095fa22913.png)

I guess the bounding box is calculated by the dem file instead of using the lat/lon files?

[2022-11-23 00:27] xhuang-jpl opened #407 "API"
instead of the running the program in command line, is there a way/tutorial I could follow to call its API in my code? Thank you

[2022-11-23 01:21] bbuzz31 commented on #403
No LOS is the line of sight, different from incidence angle. [This](https://esamultimedia.esa.int/multimedia/publications/TM-19/TM-19_InSAR_web.pdf) may be helpful

[2022-11-23 01:23] bbuzz31 commented on #403
I guess not. Can you provide the DEM and config file? If they're too big you can LFT them to me at buzzanga.jpl.nasa.gov

[2022-11-23 01:25] bbuzz31 commented on #407
There's no tutorial but you can always pull the functions in the scripts directly into your own code and run it. won't be that straightforward due to the config file.
Also not recommended at this time, as CLI is undergoing rapid development and function names are likely to change.

[2022-11-23 01:25] #407 closed

[2022-11-23 01:31] xhuang-jpl commented on #403
Thank you @bbuzz31  I mean the los_file in the los_group

![image](https://user-images.githubusercontent.com/118782850/203453276-c83fee1f-d3b6-4fef-b6b7-960e6dabeffe.png)

[2022-11-23 02:09] xhuang-jpl commented on #403
Have sent the dem, lat, lon and yaml file, please let me know if you receive them. Thank you

[2022-11-23 19:32] xhuang-jpl commented on #403
Test the new branch, seems working for different projection. I delete the dem item, and error like this,

![image](https://user-images.githubusercontent.com/118782850/203631292-4efc6a18-8739-4810-b3dd-7f2a22da3daa.png)

since the lat, lon, and hgt files have been specified, is the DEM still necessary? thanks

[2022-11-28 14:42] jlmaurer commented on #403
Hi @xhuang-jpl, for rasters the LOS file is a two-band file with incidence angle and heading that is generated by ISCE during e.g. Tops processing. @bbuzz31 is also working on implementing a GUNW parser that will automatically extract the LOS information from the GUNW, but I'm not sure if that's fully functioning yet. The other thing you can do is just pass the orbit file corresponding to your acq

[2022-11-28 17:19] xhuang-jpl commented on #403
Thank you @jlmaurer!

[2022-11-28 20:20] bbuzz31 commented on #403
FYI: This branch will not work with HRRR

[2022-11-28 20:29] bbuzz31 opened #410 "[BUG] Reuse weather model with HRRR"
If you give a bounding box in geo coords to HRRR it will successfully download and calculate delays.

However, if the HRRR file already exists, then the geo bounding box will be mismatched with the projected coordinates.

This is now addressed in #409 but the bounds calculated with pyproj are somehow too small.
Possibly there is a problem when we compute extents in `_makeDataCubes` (although this

[2022-11-28 23:04] dbekaert commented on #399
@jlmaurer has a PR in progress to update the documentation for this

[2022-11-29 00:32] bbuzz31 commented on #404
Here are options for GUNW support... Option 1 is more in line with what we discussed, but I think Option 2 is cleaner

### Option 1:

- A stand alone prepFromARIA command line script with the following options

[code]

- This could be called by a user directly
- This could be called by hyp3 using the trick with the entrypoints trick
-  E.g., ` '++process', choices=['prepFromAria', 'calc_delays'],

[2022-11-29 19:07] jhkennedy commented on #404
For the subprocessor trick (using a `++process` to call different entry_points), I would expect them to generally be fully end-to-end workflows, so I would expect an argument like `++process aria` to run `prepFromAria.py` and then `calc_delays` after.

Instead of entrypoints like that, there could also be a subprocessor, that'd look something like:
[code]

And when I think of library-first develop

[2022-11-29 23:41] dbekaert opened #413 "release notes"
RAiDER package was refactored to use a configure file (yaml) to parse parameters. In addition the package has been added to a conda distribution with automatic docker push upon new version releases. Various models were tested for consistency (others were disabled for the time being) with propagation delays computation support for zenith, slant through zenith projection using orbit file, and slant

[2022-11-29 23:50] dbekaert commented on #410
Has this been tested for all models?

@jlmaurer GMAO and HRRR tested it. We should test for the  others and then close.

[2022-11-30 02:36] #410 closed

[2022-11-30 02:37] bbuzz31 commented on #399
#414 GNSS download options and documentation notebook working as expected

[2022-11-30 02:37] #399 closed

[2022-11-30 18:39] jlmaurer commented on #413
updates:
- ERA-I is evidently not working now. Pretty sure it was running before but it's now broken, so I removed it.
- Add features not yet implemented
- It's a bit confusing because we need to deliver install and user instructuions, but that's in the raider-docs repo. Should we reference those updates here?

[2022-11-30 21:50] jhkennedy commented on #413
For Docker, you might instead say:

* Docker container images are provided with all the necessary dependencies pre-installed. See: https://github.com/dbekaert/RAiDER/#using-the-docker-image

[2022-11-30 22:50] dbekaert commented on #413
above comments have been merged into the release notes. @jhkennedy We should be able to use the above once we push to main.

Last items to check off:

- [ ] CI changes for